<div id="accordion" class="sticky-top">
    <div class="card" class="bg-light">
      <div class="card-header pb-0" id="headingOne">

        <h1 class="title-1 mb-1 ">
          <span>Submitted Order - Demo Order Name (current)</span>
        </h1>

        <div class="fixed-height-table mb-1">
          <table class="table table-row-no-border">
            <tbody>
              <tr>
                <th scope="row" class="text-muted">Order Type</th>
                <td colspan="2" class="text-right pr-0">REGULAR</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Total Weight</th>
                <td colspan="2" class="text-right pr-0">1299.49 lbs</td>
              </tr>
              <tr>
                  <th scope="row" class="text-muted">Line(s) / Item(s)</th>
                  <td colspan="2" class="text-right pr-0">10 / 100</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Total</th>
                <td colspan="2" class="text-right text-info p-0">590.04</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Errors Preview and Show Details Section-->
        <div class="d-flex bg-dark text-light text-center mobile-toggle-section-container">
          <p class="bg-dark mb-1 text-light w-100 position-relative">
            <a
              class="mobile-toggle-order-details stretched-link collapsed"
              data-toggle="collapse"
              data-target="#mobile-order-details"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample">
              <span class="show-order-details"><small><u>Show order details [+]</u></small></span>

            </a>
          </p>
        </div>

      </div>
    </div>
  </div>

<div class="container py-4">
  <h2 class="title-2">
    Invoice #100000
  </h2>
  <div class="row">
    <div class="col-4">
      <label>STATUS</label>
      <p>SUBMITTED</p>
    </div>
    <div class="col-4">
      <label>SHIP VIA</label>
      <p>FED<br/><small>5/19/19 3:42 pm</small></p>

    </div>
    <div class="col-4">
      <label>LOCATION</label>
      <p>WI</p>
    </div>
  </div>

  <div class="text-right">
    <button class="btn btn-sm btn-light">Part Labels<i class="icon-download px-1"></i></button>
  </div>


  <ul class="list-group list-unstyled mb-4">
    <li *ngFor="let part of [1,1,3,33,4]" class="my-1">
      <app-part-card-mobile [readonly]="true"></app-part-card-mobile>
    </li>
  </ul>

  <hr>
    <div class="row">
      <div class="col">
        <h2 class="title-2">
          Invoice #100001
        </h2>
      </div>
    </div>

    <ul class="list-group list-unstyled mb-4">
      <li *ngFor="let part of [1,1,3,33,4,3]" class="my-1">
        <app-part-card-mobile [readonly]="true"></app-part-card-mobile>
      </li>
    </ul>
</div>

<div class="fixed-bottom">
  <button class="btn btn-warning btn-block">Place Order </button>
</div>