<nav id="navbar-rep-tools" class="navbar navbar-expand-lg navbar-dark bg-dark pb-0 pt-1 pl-2 collapse">
  <div class="navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav pl-0">
      <a class="nav-item nav-link" href="#">Parts Unlimited <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active bg-light text-dark" href="#">Rep Tools</a>
      <!-- <a class="nav-item nav-link" href="#">Dealer Info</a> -->
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light pl-2">
  <div class="collapse navbar-rep-tools" id="navbarNavAltMarkup">
    <div class="navbar-nav pl-0">
      <a class="nav-item nav-link" [ngClass]="{'active': active === 'sales-summary'}" href="#">Sales Summary</a>
      <a class="nav-item nav-link" [ngClass]="{'active': active === 'sales-detail'}" href="#">Sales Detail</a>
      <a class="nav-item nav-link" [ngClass]="{'active': active === 'dealer-info'}" href="#">Dealer Info</a>
      <a class="nav-item nav-link" [ngClass]="{'active': active === 'dealer-activity'}" href="#">Dealery Activity</a>
      <a class="nav-item nav-link" [ngClass]="{'active': active === 'report'}" href="#">Reports</a>
    </div>
  </div>
</nav> -->
<!-- <div class="bg-dark p-1 mb-2">
    <button class="btn btn-primary btn-raised btn-menu" type="button" data-toggle="collapse" data-target="#navbar-rep-tools"
      aria-expanded="false" aria-controls="navbar-rep-tools">
      <span class="icon-chevron-down"></span>
    </button>
</div> -->