<div class="card">
    <div class="card-body">
      <div class="row mb-1">
        <div class="col-2">
          <a href>
              <img src="https://via.placeholder.com/50x50">
          </a>
        </div>

        <div class="col-5">
          <p class="my-1">0101-9601</p>
          <label class="mb-0 text-muted">ICON</label>
          <p class="title-3 text-muted text-uppercase mb-1">Airmada Helmet</p>
          <small *ngFor="let error of item?.errors" class="form-text text-info"><span class="icon-warning"></span>{{error}}</small>
        </div>

        <div class="col-5">
          <label for="itemQuantity">Qty (each)</label>
          <input class="form-control form-control-sm" [ngClass]="{'form-control-plaintext' : readonly }" [attr.readonly]="readonly" #itemQuantity type="number" size="4" min="1" max="9999" step="1"
            value="4">

          <div class="text-right ml-auto mt-1">
            <div class="fixed-height-table mb-1">
              <table class="table table-row-no-border">
                <tbody>
                  <tr>
                    <th scope="row" class="text-muted"></th>
                    <td colspan="2" class="text-right pr-0">x $147.51
                    </td>
                  </tr>
                  <tr *ngIf="(sessionState$ | async)?.displayDealerPrice; else retailTotal">
                    <th scope="row" class="text-muted text-nowrap">Total </th>
                    <td colspan="2" class="text-right text-info pr-0">
                      $590.04</td>
                  </tr>

                  <ng-template #retailTotal>
                    <tr>
                      <th scope="row" class="text-muted">Total</th>
                      <td colspan="2" class="text-right text-info pr-0">590.04</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>


      <!-- Button Row -->
      <div class="row d-flex align-items-end" *ngIf="!readonly">
        <div class="col-6">
          <button (click)="deleteLineItem($event, item?.id, item?.part?.description)" type="button" class="btn btn-sm btn-block btn-white float-left">
            Remove
          </button>
        </div>
        <div class="col-6">
          <!-- Mobile manage warehouse modal -->
          <button (click)="displayMobileWarehouseManagement(item)" type="button" class="btn btn-sm btn-block btn-light float-right text-nowrap">
            Manage Warehouse
          </button>
        </div>
      </div>
    </div>
  </div>
