<section>
  <div class="card mb-5 border-0">
    <div class="card-header border">
      <h3 class="display-4">Search Results</h3>
    </div>
    <div class="card-body pl-0 pr-0">
      <h3 class="mb-4">Search results for "Selector Helmet Shear" <span class="text-muted">&middot; 248 parts</span></h3>
      <div class="row">
        <div class="col-3">
          <button class="btn btn-light btn-raised btn-lg btn-block mb-4">Select a Vehicle <span
              class="icon-change-dealer"></span></button>
          <div class="accordion accordion-md" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne"> CATEGORY
                </button>
              </div>
              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <h6>All Categories</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Category Item <span class="text-muted">(10)</span></a></li>
                    <li><a href="#">Category Item <span class="text-muted">(10)</span></a></li>
                    <li><a href="#">Category Item <span class="text-muted">(10)</span></a></li>
                    <li><a href="#">Category Item <span class="text-muted">(10)</span></a></li>
                    <li><a href="#">Category Item <span class="text-muted">(10)</span></a></li>
                    <li><a href="#">Category Item <span class="text-muted">(10)</span></a></li>
                    <li><a href="#">Category Item <span class="text-muted">(10)</span></a></li>
                    <li><a href="#">Category Item <span class="text-muted">(10)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  BRAND
                </button>
              </div>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Search by brand">
                    </div>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        ADP
                      </label>
                    </div>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
                      <label class="form-check-label" for="defaultCheck2">
                        THOR
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  PART STATUS
                </button>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf
                  moon
                  officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf
                  moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim
                  keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                  excepteur
                  butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                  you
                  probably
                  haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="gallery-view-tab" data-toggle="tab" href="#gallery-view" role="tab"
                aria-controls="gallery-view" aria-selected="true">GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="list-view-tab" data-toggle="tab" href="#list-view" role="tab"
                aria-controls="list-view" aria-selected="false">LIST</a>
            </li>
          </ul>
          <form class="form-inline form-sort-by">
            <div class="form-group">
              <label class="my-1 mr-2" for="sort-by">Sort by</label>
              <select class="form-control form-control-sm pr-4" id="sort-by">
                <option selected>Most Relevant</option>
                <option>Retail Price - Low to High</option>
                <option>Retail Price - High to Low</option>
                <option>Oldest to Newest</option>
                <option>Newest to Oldest</option>
              </select>
            </div>
          </form>
          <div class="row">
            <div class="col-6">
              <div class="filter-list mt-5">
                <button type="button" class="btn btn-light btn-sm btn-pill mr-1 mb-2">
                  THOR <span class="icon-clear"></span>
                </button>
                <button type="button" class="btn btn-light btn-sm btn-pill mr-1 mb-2">
                  Most Relevant <span class="icon-clear"></span>
                </button>
                <button type="button" class="btn btn-white btn-sm btn-pill px-2 mb-2">
                  Clear All
                </button>
              </div>

            </div>
            <div class="col-6">
              <button class="btn btn-warning btn-lg btn-raised float-right mt-4 mb-4">Add 2 Items ($219.90) to Current
                Order <span class="icon-add"></span></button>
            </div>
          </div>
          <div class="tab-content" id="search-results-list">
            <div class="tab-pane fade show active" id="gallery-view" role="tabpanel" aria-labelledby="gallery-view-tab">
              <div class="row mr-0">
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4 pr-0">
                  <app-part-badge [layout]="'grid'" [isPartInCurrentOrder]="true"></app-part-badge>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4 pr-0">
                  <app-part-badge [layout]="'grid'" [partStatus]="'closeout'"></app-part-badge>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4 pr-0">
                  <app-part-badge [layout]="'grid'" [partStatus]="'discontinued'"></app-part-badge>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4 pr-0">
                  <app-part-badge [layout]="'grid'" [partStatus]="'new'"></app-part-badge>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
              <div class="mb-4">
                <app-part-badge [layout]="'list'" [isPartInCurrentOrder]="true"></app-part-badge>
              </div>
              <div class="mb-4">
                <app-part-badge [layout]="'list'" [partStatus]="'closeout'"></app-part-badge>
              </div>
              <div class="mb-4">
                <app-part-badge [layout]="'list'" [partStatus]="'discontinued'"></app-part-badge>
              </div>
              <div class="mb-4">
                <app-part-badge [layout]="'list'" [partStatus]="'new'"></app-part-badge>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
              <button class="btn btn-warning btn-lg btn-raised float-right mb-4">Add 2 Items ($219.90) to Current
                Order
                <span class="icon-add"></span></button>
            </div>
          </div>
          <nav class="mt-4">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo; Previous</a>
              </li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">Next &raquo;</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>