<div id="accordion">
  <div class="card" class="sticky-top bg-light">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          Mobile Order Detail Sticky Header
        </button>
      </h5>

    </div>

    <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <!-- References:
          https://www.raywenderlich.com/404-ux-design-patterns-for-mobile-apps-which-and-why
          https://www.smashingmagazine.com/2016/09/the-thumb-zone-designing-for-mobile-users/,
          https://medium.com/@konsav/-55aba8ed3859)
         -->
        Use a sticky div at the top primarily for static details of the screen. When placing buttons or clickable areas on the top of
        the screen be aware of one-handed usage on mobile touch devices. Secondary actions may be placed near the bottom of
        this sticky section but they should be used sparingly since the top-third of a screen is the most difficult
        parts to reach on a touch device.

        This section may also be used to toggle between different views that take over the main section of the same
        page.
      </div>
    </div>
  </div>
</div>

  <ul class="list-group py-4">
    <li class="list-group-item">This is the first item</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">This is the Last Item</li>
  </ul>


  <div class="fixed-bottom">
    <button class="btn btn-warning btn-block">Primary Action </button>
  </div>