<div *ngIf="canZoom; else defaultImage;" class="zoombox-wrapper" (mousemove)="displayZoomBox($event)">
  <img #zoomBoxRefImage class="d-block w-100" alt="..." [src]="src">
  <div #zoomBox class="zoombox">
    <img #zoomBoxEnlargedImage class="d-block" alt="..." [src]="zoomImageSrc">
  </div>
</div>
<ng-template #defaultImage>
  <img class="d-block w-100" alt="..." [src]="src">
</ng-template>
