.zoombox-wrapper {
  .zoombox {
    background-color: white;
    border: lightgray;
    box-shadow: 0 0 2px 2px lightgray;
    display: none;
    height: 100%;
    left: 100%;
    margin-left: 30px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    img {
      position: absolute;
    }
  }
  &:hover {
    .zoombox {
      display: block;
    }
  }
}