<section>
  <div class="card mb-5 border-0">
    <div class="card-header border">
      <h3 class="display-4">Rep Tools - Sales Summary</h3>
    </div>
    <div class="card-body px-0">
      <app-navbar-rep-tools [active]="'sales-summary'"></app-navbar-rep-tools>
      <div class="row mt-5">
        <div class="col-9"><h1 class="title-1">Sales Summary for Steve Rogers</h1></div>
        <div class="col-3">
          <div class="d-flex">
            <form class="form-inline ml-auto">
              <div class="form-group"><label class="my-1 mr-2" for="sort-by">Sales for month</label>
                <select  class="form-control form-control-sm " id="sort-by">
                  <option  selected="">March 2019</option>
                  <option >February 2019</option>
                  <option >January 2019</option>
                </select>
              </div>
            </form>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">Sales Mar 2019</h4>
              <div class="progress progress-lg mb-1">
                <div class="progress-bar text-right pr-1" role="progressbar" style="width: 77%;" aria-valuenow="77" aria-valuemin="0"
                aria-valuemax="100">{{200234 | currency:'USD':'symbol':'.2'}}</div>
              </div>
              <small class="float-right mr-1 text-muted">Monthly Goal: {{260000 | currency:'USD':'symbol':'.2'}}</small>
              <table class="table table-hover table-sm mt-5 mb-0">
                <tbody>
                  <tr>
                    <th scope="row">MTD</th>
                    <td class="text-right">{{200234 | currency:'USD':'symbol':'.2'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mar Goal</th>
                    <td class="text-right">{{260000 | currency:'USD':'symbol':'.2'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mar 2018</th>
                    <td class="text-right">{{245685 | currency:'USD':'symbol':'.2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body bg-lighter">
              <h4 class="card-title">Sales 2019</h4>
              <div class="progress progress-lg mb-1">
                <div class="progress-bar text-right pr-1" role="progressbar" style="width: 39%;" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100">{{786688 | currency:'USD':'symbol':'.2'}}</div>
              </div>
              <small class="float-right mr-1 text-muted">Yearly Goal: {{2000000 | currency:'USD':'symbol':'.2'}}</small>
              <table class="table table-hover table-sm mt-5 mb-0">
                <tbody>
                  <tr>
                    <th scope="row">YTD</th>
                    <td class="text-right">{{786688 | currency:'USD':'symbol':'.2'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Goal</th>
                    <td class="text-right">{{2000000 | currency:'USD':'symbol':'.2'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2018</th>
                    <td class="text-right">{{1686688 | currency:'USD':'symbol':'.2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <section>
        <h4>Sales Goals Focus</h4>
        <table class="table table-hover table-responsive-lg">
          <thead>
            <tr>
              <th scope="col">Goal</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col" class="text-right">LY Dollars</th>
              <th scope="col" class="text-right">TY Dollars</th>
              <th scope="col" class="text-right">Goal Dollars</th>
              <th scope="col" class="text-right">LY Units</th>
              <th scope="col" class="text-right">TY Units</th>
              <th scope="col" class="text-right">Goal Units</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-lighter">
              <td>Alpinestars Report - August</td>
              <td>01/01/2019</td>
              <td>01/31/2019</td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                Harvey's Lake Powersports Inc. (HAR608)
              </td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                Rider's Friend Gear Haus (RID137)
              </td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
          </tbody>
          <tbody class="border-top-0">
            <tr class="bg-lighter">
              <td>Alpinestars Report - August</td>
              <td>01/01/2019</td>
              <td>01/31/2019</td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                Harvey's Lake Powersports Inc. (HAR608)
              </td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                Rider's Friend Gear Haus (RID137)
              </td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
          </tbody>
          <tbody class="border-top-0">
            <tr class="bg-lighter">
              <td>Alpinestars Report - August</td>
              <td>01/01/2019</td>
              <td>01/31/2019</td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                Harvey's Lake Powersports Inc. (HAR608)
              </td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                Rider's Friend Gear Haus (RID137)
              </td>
              <td class="text-right">{{94 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{54 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">{{199 | currency:'USD':'symbol':'.2'}}</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
              <td class="text-right">N/A</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</section>
<section>
  <div class="card mb-5 border-0">
    <div class="card-header border">
      <h3 class="display-4">Rep Tools - Dealer Info</h3>
    </div>
    <div class="card-body px-0">
      <app-navbar-rep-tools [active]="'dealer-info'"></app-navbar-rep-tools>
      <h1 class="title-1 mt-5">Dealer Info</h1>
      <div class="card mb-4">
        <div class="card-header border-0">
          <form>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Dealership Name</label>
                <input type="text" class="form-control" placeholder="Enter dealership name">
              </div>
              <div class="form-group col-md-2">
                <label>Dealer ID</label>
                <input type="text" class="form-control" placeholder="Enter dealer ID">
              </div>
              <div class="form-group col-md-2">
                <label>City</label>
                <input type="text" class="form-control" placeholder="Enter city">
              </div>
              <div class="form-group col-md-2">
                <label>State</label>
                <input type="text" class="form-control" placeholder="Enter state">
              </div>
              <div class="form-group col-md-1">
                <label>ZIP</label>
                <input type="text" class="form-control" placeholder="Enter ZIP">
              </div>
              <div class="form-group col-md-2">
                <label>&nbsp;</label>
                <button class="btn btn-warning btn-block">Find Dealers</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="d-flex">
        <form _ngcontent-c6="" class="form-inline ml-auto mt-4">
          <div _ngcontent-c6="" class="form-group"><label _ngcontent-c6="" class="my-1 mr-2" for="sort-by">Sort by</label>
            <select _ngcontent-c6="" class="form-control form-control-sm pr-4" id="sort-by">
              <option _ngcontent-c6="" selected="">Dealer</option>
              <option _ngcontent-c6="">Dealeship Name</option>
              <option _ngcontent-c6="">Visits</option>
            </select>
          </div>
        </form>
      </div>
      <hr>
      <div class="card mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="card-title mt-1">
                LaCrosse Area Harley Davidson (3319) <span class="text-muted">&middot; Level: SVR</span>
              </h5>
            </div>
            <div class="col-sm-6 text-right">
              <div class="row">
                <div class="col-lg-4 pr-lg-0">
                  <button class="btn btn-sm btn-primary btn-block mb-1"><span class="fa fa-download"></span> Meeting Sheet</button>
                  <small class="text-muted float-left mb-1"><span class="fa fa-clock"></span> Last on 3/1/2019 at 9:15AM</small>
                </div>
                <div class="col-lg-4 pr-lg-0">
                  <button class="btn btn-sm btn-primary btn-block mb-1"><span class="fa fa-download"></span> Pick Report</button>
                </div>
                <div class="col-lg-4">
                  <button class="btn btn-sm btn-primary btn-block mb-1"><span class="fa fa-download"></span> Brand Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
              <h6 class="mt-3">Contact Info</h6>
              <table class="table table-sm table-hover">
                <tbody>
                  <tr>
                    <th scope="col">Phone</th>
                    <td><a href="#">608-473-5555</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Fax</th>
                    <td>608-453-5555</td>
                  </tr>
                  <tr>
                    <th scope="col">Email</th>
                    <td>
                      <a href="#"> me@email.com</a><br>
                      <a href="#"> me2@email.com</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">Address</th>
                    <td>
                      8900 County Road I<br>
                      Blue Mounds,<br>
                      WI 54321
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
              <h6 class="mt-3">Rep Info</h6>
              <table class="table table-sm table-hover">
                <tbody>
                  <tr>
                    <th>Sales Rep</th>
                    <td>291 (cul014)</td>
                  </tr>
                  <tr>
                    <th>Last Visit</th>
                    <td>05/24/2018</td>
                  </tr>
                  <tr>
                    <th>Prior Visit</th>
                    <td>04/24/2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12 col-lg-6 bg-light">
              <h6 class="mt-3">Picks (9)</h6>
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Date Picked</th>
                    <th scope="col" class="text-right">Percent Off</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Arlen Ness H/P</td>
                    <td>02/11/2016</td>
                    <td class="text-right">5.000%</td>
                  </tr>
                  <tr>
                    <td>Barnett</td>
                    <td>02/11/2016</td>
                    <td class="text-right">5.000%</td>
                  </tr>
                  <tr>
                    <td>L.A. Choppers</td>
                    <td>02/11/2016</td>
                    <td class="text-right">5.000%</td>
                  </tr>
                  <tr>
                    <td>Arlen Ness H/P</td>
                    <td>02/11/2016</td>
                    <td class="text-right">5.000%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="card-title mt-1">
                LaCrosse Area Harley Davidson (3319) <span class="text-muted">&middot; Level: SVR</span>
              </h5>
            </div>
            <div class="col-sm-6 text-right">
              <div class="row">
                <div class="col-lg-4 pr-lg-0">
                  <button class="btn btn-sm btn-primary btn-block mb-1"><span class="fa fa-download"></span> Meeting Sheet</button>
                  <small class="text-muted float-left mb-1"><span class="fa fa-clock"></span> Last on 3/1/2019 at 9:15AM</small>
                </div>
                <div class="col-lg-4 pr-lg-0">
                  <button class="btn btn-sm btn-primary btn-block mb-1"><span class="fa fa-download"></span> Pick Report</button>
                </div>
                <div class="col-lg-4">
                  <button class="btn btn-sm btn-primary btn-block mb-1"><span class="fa fa-download"></span> Brand Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
              <h6 class="mt-3">Contact Info</h6>
              <table class="table table-sm table-hover">
                <tbody>
                  <tr>
                    <th scope="col">Phone</th>
                    <td><a href="#">608-473-5555</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Fax</th>
                    <td>608-453-5555</td>
                  </tr>
                  <tr>
                    <th scope="col">Email</th>
                    <td>
                      <a href="#"> me@email.com</a><br>
                      <a href="#"> me2@email.com</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">Address</th>
                    <td>
                      8900 County Road I<br>
                      Blue Mounds,<br>
                      WI 54321
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
              <h6 class="mt-3">Rep Info</h6>
              <table class="table table-sm table-hover">
                <tbody>
                  <tr>
                    <th>Sales Rep</th>
                    <td>291 (cul014)</td>
                  </tr>
                  <tr>
                    <th>Last Visit</th>
                    <td>05/24/2018</td>
                  </tr>
                  <tr>
                    <th>Prior Visit</th>
                    <td>04/24/2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12 col-lg-6 bg-light">
              <h6 class="mt-3">Picks (9)</h6>
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Date Picked</th>
                    <th scope="col" class="text-right">Percent Off</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Arlen Ness H/P</td>
                    <td>02/11/2016</td>
                    <td class="text-right">5.000%</td>
                  </tr>
                  <tr>
                    <td>Barnett</td>
                    <td>02/11/2016</td>
                    <td class="text-right">5.000%</td>
                  </tr>
                  <tr>
                    <td>L.A. Choppers</td>
                    <td>02/11/2016</td>
                    <td class="text-right">5.000%</td>
                  </tr>
                  <tr>
                    <td>Arlen Ness H/P</td>
                    <td>02/11/2016</td>
                    <td class="text-right">5.000%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card mb-5 border-0">
    <div class="card-header border">
      <h3 class="display-4">Rep Tools - Sales Detail</h3>
    </div>
    <div class="card-body px-0">
      <app-navbar-rep-tools [active]="'sales-detail'"></app-navbar-rep-tools>
      <h1 class="title-1 mt-4">Sales Detail</h1>
      <div class="card mb-4">
        <div class="card-header border-0">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                <label for="exampleFormControlSelect1">Dealership Name</label>
                <select class="form-control">
                  <option value="Bob's Biker Bonanza, Inc.">ONJ001 - Ol' Nick Jack's Bikes, Inc.</option>
                  <option value="Bob's Biker Bonanza, Inc.">TTP002 - Tambo Town Parts, Inc.</option>
                  <option value="Bob's Biker Bonanza, Inc.">BBB003 - Bob's Biker Bonanza, Inc.</option>
                </select>                
              </div>
              <div class="form-group col-md-2">
                <label>&nbsp;</label>
                <button class="btn btn-warning btn-block">Show Sales Summary</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mt-1 mb-0 d-inline-block">Ol' Nick Jack's Bikes, Inc.</h5>
          <button class="btn btn-sm btn-primary float-right"><span class="fa fa-download"></span> Download</button>
          <button class="btn btn-sm btn-primary float-right mr-2"><span class="fa fa-print"></span> Print</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <table class="table table-sm table-hover">
                <tbody>
                  <tr>
                    <th scope="col">Rep</th>
                    <td>Wilbur Wright (w123)</td>
                  </tr>
                  <tr>
                    <th scope="col">Level</th>
                    <td>Silver</td>
                  </tr>
                  <tr>
                    <th scope="col">Return Rate</th>
                    <td>1.70%</td>
                  </tr>
                  <tr>
                    <th scope="col">Current Month (07/2018)</th>
                    <td>{{475 | currency:'USD':'symbol':'.2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-8">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">LY</th>
                    <th scope="col" colspan="2">TY</th>
                    <th class="text-right">Change $</th>
                    <th class="text-right">Change %</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="total table-light">
                    <th >Total</th>
                    <th class="text-right">{{12892 | currency:'USD':'symbol':'.2'}}</th>
                    <th>Total</th>
                    <th class="text-right">{{12345 | currency:'USD':'symbol':'.2'}}</th>
                    <th class="text-danger text-right">({{547 | currency:'USD':'symbol':'.2'}})</th>
                    <th class="text-danger text-right">(4.20%)</th>
                  </tr>
                  <tr>
                    <td>06/2017</td>
                    <td class="text-right">{{12892 | currency:'USD':'symbol':'.2'}}</td>
                    <td scope="col">06/2018</td>
                    <td class="text-right">{{23345 | currency:'USD':'symbol':'.2'}}</td>
                    <td class="text-right text-success">{{10453 | currency:'USD':'symbol':'.2'}}</td>
                    <td class="text-right text-success">181.08%</td>
                  </tr>
                  <tr>
                    <td>05/2018</td>
                    <td class="text-right">{{12892 | currency:'USD':'symbol':'.2'}}</td>
                    <td scope="col">05/2018</td>
                    <td class="text-right">{{12345 | currency:'USD':'symbol':'.2'}}</td>
                    <td class="text-danger text-right">({{547 | currency:'USD':'symbol':'.2'}})</td>
                    <td class="text-danger text-right">(4.20%)</td>
                  </tr>
                  <tr>
                    <td>04/2017</td>
                    <td class="text-right">{{12892 | currency:'USD':'symbol':'.2'}}</td>
                    <td scope="col">04/2018</td>
                    <td class="text-right">{{12345 | currency:'USD':'symbol':'.2'}}</td>
                    <td class="text-danger text-right">({{547 | currency:'USD':'symbol':'.2'}})</td>
                    <td class="text-danger text-right">(4.20%)</td>
                  </tr>
                  <tr>
                    <td>03/2017</td>
                    <td class="text-right">{{12892 | currency:'USD':'symbol':'.2'}}</td>
                    <td scope="col">03/2018</td>
                    <td class="text-right">{{12345 | currency:'USD':'symbol':'.2'}}</td>
                    <td class="text-danger text-right">({{547 | currency:'USD':'symbol':'.2'}})</td>
                    <td class="text-danger text-right">(4.20%)</td>
                  </tr>
                  <tr>
                    <td>02/2017</td>
                    <td class="text-right">{{12892 | currency:'USD':'symbol':'.2'}}</td>
                    <td scope="col">02/2018</td>
                    <td class="text-right">{{12345 | currency:'USD':'symbol':'.2'}}</td>
                    <td class="text-danger text-right">({{547 | currency:'USD':'symbol':'.2'}})</td>
                    <td class="text-danger text-right">(4.20%)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card mb-5 border-0">
    <div class="card-header border">
      <h3 class="display-4">Rep Tools - Dealer Activity</h3>
    </div>
    <div class="card-body px-0">
      <app-navbar-rep-tools [active]="'dealer-activity'"></app-navbar-rep-tools>
      <h1 class="title-1 mt-4">Dealer Activity</h1>
      <div class="card mb-4">
        <div class="card-header border-0">
          <form>
            <div class="form-row">
              <div class="form-group col-md-2">
                <div class="form-group mb-0">
                  <label for="exampleFormControlSelect1">Start Date</label>
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="form-group mb-0">
                  <label for="exampleFormControlSelect1">End Date</label>
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>&nbsp;</label>
                <button class="btn btn-warning btn-block">Load Activity</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Dealer Name</th>
            <th>Dealer ID</th>
            <th class="text-center">Logins</th>
            <th>Last Login</th>
            <th class="text-center">Orders</th>
            <th>Last Order</th>
            <th class="text-right">Shipped Orders</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lacrosse Area Harley Davidson</td>
            <td>LAC123</td>
            <td class="text-center">32</td>
            <td>07/31/2018</td>
            <td class="text-center">12</td>
            <td>7/29/2018</td>
            <td class="text-right">{{(12345.67 | currency:'USD':'symbol':'.2')}} </td>
          </tr>
          <tr>
            <td>Bob's Biker Bonanza, Inc.</td>
            <td>BOB123</td>
            <td class="text-center">12</td>
            <td>07/30/2018</td>
            <td class="text-center">2</td>
            <td>7/29/2018</td>
            <td class="text-right">{{(1345.67 | currency:'USD':'symbol':'.2')}}</td>
          </tr>
          <tr>
            <td>Bikes Bikes Bikes, Ltd.</td>
            <td>BBB987</td>
            <td class="text-center">1</td>
            <td>07/12/2018</td>
            <td class="text-center">1</td>
            <td>7/12/2018</td>
            <td class="text-right">{{(345.67 | currency:'USD':'symbol':'.2')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section>
  <div class="card mb-5 border-0">
    <div class="card-header border">
      <h3 class="display-4">Rep Tools - Office Time</h3>
    </div>
    <div class="card-body px-0">
      <div class="card mb-4">
        <div class="card-body">
          <app-navbar-rep-tools [active]="'dealer-activity'"></app-navbar-rep-tools>
          <app-office-time></app-office-time>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Office Time Modal -->
<div class="modal fade" id="officeTimeModal" tabindex="-1" role="dialog" aria-labelledby="officeTimeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="officeTimeModal">Your reports are being built</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We're on it! We're building your reports for the following dealerships:</p>
        <ul>
          <li>ABC</li>
          <li>ABC</li>
          <li>ABC</li>
          <li>ABC</li>
          <li>ABC</li>
        </ul>
        <p>This might take a minute, so we'll send you an email at:</p>
        <p><strong>1234@partsrep.net</strong></p>
        <p>... with a link to download them when they're ready for you.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary px-4" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
