<div>
  <div class="d-none d-lg-block" 
    [ngStyle]="{
      'background-image': 'url(' + bikeBuild.summary.images.desktop.url + ')',
      'background-position': 'top left',
      'background-repeat': 'no-repeat',
      'min-height': '510px'
    }">
    <div class="row" [ngClass]="{'justify-content-end': bikeBuild.textSide === 'right', 'justify-content-start': bikeBuild.textSide === 'left'}">
      <div class="col-lg-6">
        <ng-container *ngTemplateOutlet="bikeDescription"></ng-container>
      </div>
    </div>
  </div>
  <div class="d-block d-lg-none">
    <img src="{{bikeBuild.summary.images.mobile.url}}" class="w-100">
    <ng-container *ngTemplateOutlet="bikeDescription"></ng-container>
  </div>
</div>
<ng-template #bikeDescription>
  <div class="m-3 p-4">
    <h2>{{bikeBuild.name}}</h2>
    <p>{{bikeBuild.description}}</p>
    <button class="btn btn-warning my-2">Shop Parts</button><br>
    <button class="btn btn-link p-0 my-2">Back to Top</button>
  </div>
</ng-template>