<div id="accordion" class="sticky-top">
    <div class="card" class="bg-light">
      <div class="card-header pb-0" id="headingOne">
        <div class="mb-2">
          <a href><span class="icon-arrow-back"></span> Make changes</a>
        </div>

        <h1 class="title-1 mb-1 ">
          <span>Review Order - Demo Order Name (current)</span>
        </h1>

        <div class="fixed-height-table mb-1">
          <table class="table table-row-no-border">
            <tbody>
              <tr>
                <th scope="row" class="text-muted">Order Type</th>
                <td colspan="2" class="text-right pr-0">REGULAR</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Total Weight</th>
                <td colspan="2" class="text-right pr-0">1299.49 lbs</td>
              </tr>
              <tr>
                  <th scope="row" class="text-muted">Line(s) / Item(s)</th>
                  <td colspan="2" class="text-right pr-0">10 / 100</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Total</th>
                <td colspan="2" class="text-right text-info p-0">590.04</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Errors Preview and Show Details Section-->
        <div class="d-flex bg-dark text-light text-center mobile-toggle-section-container">
          <p class="bg-dark mb-1 text-light w-100 position-relative">
            <a
              class="mobile-toggle-order-details stretched-link collapsed"
              data-toggle="collapse"
              data-target="#mobile-order-details"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample">
              <span class="show-order-details"><small><u>Show order details [+]</u></small></span>

            </a>
          </p>
        </div>

      </div>
    </div>
  </div>

<div class="container">
  <ul class="list-group list-unstyled py-4">
    <li *ngFor="let part of [1,1,3,33,4,3,4,43,4,43,3,4,3,3,34,4,3,4]" class="my-2">
      <app-part-card-mobile [readonly]="true"></app-part-card-mobile>
    </li>
  </ul>
</div>

<div class="fixed-bottom">
  <button class="btn btn-warning btn-block">Place Order </button>
</div>