// Color system
$orange: #ec6c2e;
$unlimited-blue: #1964a8;
$marigold: #F7CB15;
$parts-red: #e03a3e;
$tar: #231F20;
$smoke: #ABABAB;
$fog: #EFEFEF;
$parts-green: #009059;
$unlimited-navy: #03256C;
$black: $tar;

$primary:       $unlimited-blue;
$secondary:     $parts-red;
$success:       $parts-green;
$info:          $unlimited-navy;
$warning:       $marigold;
$danger:        $parts-red;
$dark:          $tar;
$light:         $fog;
$white:         #FFFFFF;

// Add any custom colors to the map (so you can use border-${color} and other color classes)
$theme-colors: (
  "orange": $orange
);


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "IBM Plex Sans", "Helvetica Neue", sans-serif;
$font-family-monospace:  "IBM Plex Mono", monospace;
$font-family-condensed: "IBM Plex Sans Condensed", sans-serif;
$font-family-base:            $font-family-condensed;

$font-size-base: 0.9375rem; // Should equal about 15px. Assumes 0.875rem of the browser default, typically `16px`
$font-size-sm: $font-size-base * .857;
$font-size-xs: $font-size-base * .714;
$font-size-lg: 1rem; // 16

$font-weight-normal:          500;
$font-weight-bold:            600;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1.3125rem; // Because 1 space should equal 1 line height
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2)
  ),
  $spacers
);


// Body
//
// Settings for the `<body>` element.
$body-color:                $tar;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         1rem;


// Components
//
// Define common padding and border radius sizes and more.
$border-width:                2px;
$border-color:                $fog;


// Buttons + Forms shared properties

// Button properties
// $btn-padding-x-lg:    2.5rem; // 40px;
// $btn-padding-x:       2.02rem; // ~32px;
// $btn-padding-y:       1.01rem; // ~17px;
// $btn-padding-x-sm:    1.85rem; // 29.6px;
// $btn-padding-y-lg:    1.25rem; // 20px;
// $btn-padding-y-sm :   0.625rem; // 14.8px;


// Input properties


// Options

$enable-rounded: false;
$headings-font-family:        $font-family-condensed;
$headings-font-weight:        $font-weight-bold;
$headings-margin-bottom:      $spacer;


// Modals

// Padding applied to the modal body
$modal-inner-padding:         $font-size-base;


// Navbar

$navbar-padding-y:                  0.8125rem;
$navbar-padding-x:                  1.625rem;


// Navs

$nav-link-padding-y:                0.8125rem;
$nav-link-padding-x:                1.625rem;

$nav-tabs-link-active-color:        $white;
$nav-tabs-link-active-bg:           $primary;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-cell-padding:          .875rem;
$table-cell-padding-sm:       .35rem;
$table-accent-bg:             rgba($fog, .5);
$table-hover-bg:              rgba($fog, 1); //rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg;
$table-border-width:          $border-width;
$table-border-color:          $fog;




// Card
$card-border-color:           $fog;

// Switches
$custom-control-indicator-size:                 1rem !default;
$custom-control-indicator-border-width:         1px  !default;
$custom-switch-width:                           $custom-control-indicator-size * 1.75 !default;
$custom-switch-indicator-border-radius:         $custom-control-indicator-size / 2 !default;
$custom-switch-indicator-size:                  calc(#{$custom-control-indicator-size} - #{$custom-control-indicator-border-width * 4}) !default;

