// Mobile Spacing and Display Utility Classes
@media all and (max-width: map-get($grid-breakpoints, 'md')) {
  input[type="number"] {
    text-align: center;
  }

  .mb-sm-3 { // "margin bottom - small screens - {size}"
    margin-bottom: $spacer;
  }

  .w-100vw {
    width: 100vw;
    margin-left: -$spacer; /** To negate the router outlet padding **/
    margin-right: -$spacer; /** To negate the router outlet padding **/
    z-index: $zindex-dropdown - 1;
  }
}

@media (orientation:landscape) {
  .hide-on-landscape {
      display: none;
  }
}

// Custom background color utilities
.bg-lighter {
  background-color: $table-accent-bg;
}

.bg-fog {
  background-color: $fog;
}

.part-badge {
  border: 2px solid $fog;
  transition: border-color 0.3s ease-in-out;
  min-height: 100%;
  &:hover {
    border-color: $primary;
  }
}

@media screen and (max-width: 375px) {
  .single-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

// Alerts
.alert {
  &.alert-ribbon {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    padding: 0px;
    text-align: center;
    transition: border 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
  }
}


// Container
.container-fluid-global {
  background-color: $white;
  padding-left: 0;
  padding-right: 0;
  max-width: map-get($map: $container-max-widths, $key: 'xl');
  min-height: 800px;
}

.container-fluid-global-reptools {
  max-width: 1440px;
}

// Badges
.btn-pill {
  border-radius: 50rem !important;
  padding-left: 1rem;

}


// Links

.text-link {
    cursor: pointer;
    color: $primary !important;
    &:hover {
        text-decoration: underline;
    }
}

// Buttons
button {
  font-family: $font-family-condensed;
}
.btn {
  white-space: nowrap;
  &.btn-white,
  &.btn-light {
    color: $primary;
  }
  &.btn-raised {
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2px 6px $smoke;
  }
  &.btn-outline-input {
    border: $input-border-width solid $input-border-color;
  }
}


// Icons
.btn [class^="icon-"] {
  margin-left: map-get($spacers, 1);
}

// Vertically Align all icons
[class^="icon-"] {
  position: relative;
  top: 0.1em;
  vertical-align: middle;
}


// Images
.logo {
  width: 140px;
  height: 36px;
}


// Cards
.card-body {
  padding-bottom:     1.125 * $spacer;
  padding-top:        1.125 * $spacer;
  padding-left:       .8125 * $spacer;
  padding-right:      .8125 * $spacer;
}


// Spinners
.spinner-border {
  &.spinner-border-lg {
    width: 3rem;
    height: 3rem;
  }
}

// Progress Bars
.progress {
  &.progress-sm {
    height: 0.25rem
  }
  &.progress-lg {
    height: 2rem;
    font-size: $font-size-base;
  }
}

// Lists
ul.icon-list {
	padding-left: 25px;
}

ul.icon-list li > span:first-child {
  display: inline-block; // so that you can perform css transforms
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
ul.list-inline {
  li {
    display: inline;
    padding-left: 1rem;
  }
}


// Modal
.modal {
  .modal-body {
		min-height: ($font-size-base * 1.5) * 4; // Equal to 4 * Line Height
  }
  &.left {
    .modal-dialog {
      -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
      -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
    }
    &.fade {
      .modal-dialog {
        left: -100%;
        -webkit-transition: left 0.3s ease-out;
        -moz-transition: left 0.3s ease-out;
        -o-transition: left 0.3s ease-out;
        transition: left 0.3s ease-out;
      }
      &.show {
        .modal-dialog {
          left: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .modal {

    .modal-dialog {
      margin: 0;
      max-width: 100%;
      overflow: hidden;
    }

    .modal-content {
      min-height: 100vh;
      border-radius: 0;
      margin: 0;
      border-bottom: 0;
      border: 0;
    }

    .modal-header {
      background-color: $light;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1020;
      padding: 0.875rem;
    }

    .modal-header .close {
      padding: 1rem 1rem;
      margin: -0.875rem -0.875rem -0.875rem auto;
    }

    .modal-footer {
      background-color: $light;
      position: fixed;
      bottom:   0;
      width: 100%;
    }

    &.modal-navbar-category {
      .modal-header {
        position: relative;
        .btn-back, .modal-title {
          display: none;
        }
      }
      .modal-body {
        position: relative;
        left: 0;
        transition: left 0.3s ease-in-out;
        padding: 0;
      }
      &.slide {
        .modal-header {
          .btn-back {
            display: block;
            border-bottom: 1px;
            padding-left: 0;
          }
          .modal-title {
            display: block;
          }
        }
        .modal-body {
          left: -100%;
          .navbar-nav.show {
            display: flex;
          }
        }
      }
    }
  }
}


// Navs
ul.nav:not(.nav-tabs) {
  border-top: 2px solid $fog;
  border-bottom: 2px solid $fog;
}

.nav .nav-item .nav-link {
  @extend %nav-font-style;
  padding-left: 2.625rem;
  padding-right: 2.625rem;
}

.nav .nav-item .nav-link:not(.active) {
  color: $black;
  opacity: 0.7;
}


#navbar-rep-tools {
  transition: all 0.1s ease-in-out;

  /** The control that opens the menu **/
	&__chevron-btn {
		height: 35px;
		width: 100%;
		z-index: $zindex-dropdown;

    .icon-chevron-down {
      top: -5px;
    }

    &.collapsed {
      transform: none;
    }

		/** When open rotate the reptools open menu icon **/
		&:not(.collapsed) {
			transform: rotate(180deg);
			box-shadow: 0px -1px 0px 2px $light;
		}
	}
}


.navbar {
  &.navbar-header {
    padding: 0 0 0 15px ;
    .navbar-brand {
      padding: 24px 0 18px;
    }
    .nav-item {
      .nav-link {
        font-size: $font-size-lg;
        padding: 28px 28px 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          &.nav-link-text {
            padding-right: 8px;
          }
          &[class^='icon-'] {
            font-size: 28px;
          }
        }
        &:hover {
          color: $white;
          background-color: $primary;
        }
      }
      &.dropdown {
        .dropdown-toggle:after {
          border: 0 // Removes default caret on dropdown button
        }
        &.show {
          .nav-link {
            background-color: $primary;
            color: $white;
          }
          .dropdown-menu {
            min-width: 20rem;
            background-color: $primary;
            border: 0;
            padding: 25px;
            margin-top: 0;
            .dropdown-item {
              color: $white;
              font-weight: lighter;
              padding: 5px 10px;
              &:hover, &:focus {
                background-color: #1c71be;
              }
              &.dropdown-item-section-title {
                opacity: 0.6;
                padding: 3px 10px 7px;
                font-size: $font-size-base * 0.857; // ~12px
                &:hover, &:focus {
                  background-color: $primary;
                }
              }
              &.dropdown-item-lg {
                font-size: $font-size-lg;
                padding: 6px 10px;
                display: flex;
                align-items: center;
                [class^='icon-'] {
                  font-size: $font-size-lg * 1.5;
                  opacity: 0.6;
                }
              }
            }
            @include media-breakpoint-down(lg) {
              /* Keeps dropdown from displaying as
              a block in screens smaller than lg,
              which is the default behavior*/
              position: absolute;
            }
          }
        }
      }
    }
    .navbar-text {
      &.navbar-text-summary {
        padding: 20px 28px 5px;
      }
    }
  }
  &.navbar-category {
    padding: 10px 15px ;
    background-color: $fog;
    .dropdown-menu {
      padding: 0;
      .dropdown-toggle::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 10px;
        top: 18px;
      }
      .dropdown-item {
        padding: 10px 15px;
        position: relative;
      }
    }
    .dropdown-menu-submenu {
      padding: 10px 15px;
    }
  }
  &.navbar-category-mobile {
    padding: 0;
    .navbar-nav {
      width: 100%;
    }
    .nav-link {
      padding: 1rem 0.875rem;
      border-bottom: 1px solid $light;
      &.has-sublevel::after {
        content: '>';
        position: absolute;
        right: 23px;
      }
    }
    li > ul {
      position: absolute;
      top: 0;
      left: 100%;
      padding: 0;
      width: 100%;
      display: none;
    }
    .dropdown.show {
      .dropdown-menu.show {
      position: relative !important;
      transform: none !important;
      margin: 0;
      border: 0;
      }
    }
    .dropdown-toggle::after {
      right: 24px;
      position: absolute;
      top: 25px;
    }
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
  border-color: transparent;
  background-color: $primary;
}
.nav-tabs .nav-link:hover {
  border-color: transparent;
  background-color: $fog;
}

%nav-font-style {
  font-family: $font-family-condensed;
  font-size: $font-size-base * 0.85714;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase;
}

// Tabs
.nav-tabs .nav-item {
  @extend %nav-font-style;
}

// Forms
form a:not([href]):not([tabindex]) {
  color: $primary;
}

form > .form-check {
  margin-bottom: $spacer * 1;
}

.form-group.required > label::after {
  content: '*';
  color: $danger;
}

.form-control {
  font-family: $font-family-condensed;
  &::placeholder {
    color: $smoke;
  }
}
.form-sort-by {
    position: absolute;
    right: 125px;
    top: 15px;
}

.form-control-plaintext {
  padding-left: 0;
}
.custom-control {
  &.custom-checkbox {
    .custom-control-label {
      &::before {
        padding: 0.85rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0;
        top: 0;
      }
      &::after {
        background-size: 65%;
        padding: 0.85rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0;
        background-position: 4px 3px;
      }
    }
  }
  &.custom-switch {
    .custom-control-label {
      font-size: 0.80356875rem;
      line-height: 1.5;
      &::before {
        box-shadow: 0px 0px 0px 1px white;
        border: white;
      }
      &::after {
        left: calc(-2.25rem - 1px);
      }
    }
    .custom-control-input:checked ~ .custom-control-label::before {
      border-color: $info;
      background-color: $info;
    }
    .custom-control-input:checked ~ .custom-control-label {
      opacity: 1;
    }
    &.custom-switch-light {
      .custom-control-label {
        &::before {
          border: $tar;
          background-color: $tar;
        }
      }
    }
  }
}

label {
  color: $black;
  cursor: pointer;
  font-family: $font-family-condensed;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  letter-spacing: 0.71px;
  margin-bottom: 3px;
  opacity: 0.7;
  text-transform: uppercase;
}

// TODO: Make sure that label icons are equally spaced
label i::before, label::after {
  margin-left: 3px;
}


input[type='checkbox'], .form-check-label {
  cursor: pointer;
  font-family: $font-family-condensed;
  font-size: $font-size-base * 0.85714;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
}

input[type='radio'] {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

// Remove border radius on dropdowns
select.form-control {
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url('/assets/icons/Chevron_down.svg');
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  min-width: 120px;
}

.is-loading {
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.25rem);
  background-size: calc(0.75em + 0.5rem) calc(0.75em + 0.5rem);
  background-image: url('/assets/images/icons/loading-spinner.svg') !important;
}

// Input group dropdowns Chevronns need to be further to the left away from the button
.input-group > select.form-control {
  &:not(.is-loading) {
    background-image: url('/assets/icons/Chevron_down.svg');
  }
  background-position: 90% 50%;
}

// Remove Chevron Icon from multiple selects but keep square radius
select[multiple].form-control, select.form-control-plaintext {
  background-image: none;
}

// Tables
.table thead th {
  background-color: $fog;
  border: none;
  font-family: $font-family-condensed;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding-bottom: $spacer * 0.4;
  padding-top: $spacer * 0.4;
  line-height: 16px;
  text-transform: uppercase;
}

.table tr {
  font-family: $font-family-condensed;
  font-size: 12px;
  font-weight: $font-weight-normal;
  letter-spacing: 0.53px;
  line-height: 22px;
}

.table td small,
.table td .form-text,
.table td [class*="-feedback"] {
  line-height: 1rem;
}


.table td > input[type=text] {
  min-width: 75px; // Minimum size needed to enter po #
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: rgba(14, 103, 235, 0.125);
  }
}


.table-row-no-border {
  margin-bottom: 20px;
}

.table-row-no-border tr > td, .table-row-no-border tr > th {
  border: none;
  padding: 0 0.875rem 0 0;
}

// Use th-lg to make a table header take up more space
.th-lg {
  min-width: 110px;
}

.table th.sort-by {
  cursor: pointer;
}

// Typography

// Title 1 is used primarily for large sections of the page and also for page titles for many
// dashboard pages like Open Orders List
.title-1 {
  font-family: $font-family-condensed;
  font-size: $font-size-base * 1.714;
  font-weight: $font-weight-bold;
  margin-bottom: $spacer * 3;
}

// Title 2 is used as a secondary title for sections of the page. For example: the product name in product badges, the "feature" title
// on the product detail page and each subsequent section.
.title-2 {
  font-family: $font-family-condensed;
  font-size: $font-size-base * 1.142;
  font-weight: $font-weight-bold;
  line-height: 20px;
  margin-bottom: 0.875rem;
}

// Title 3 is used as a minor title for content. For example: the different sections of the hamburger menu
.title-3 {
  font-family: $font-family-condensed;
  font-size: $font-size-base * 0.8714;
  font-weight: $font-weight-bold;
  letter-spacing: 1.2px;
  line-height: 15px;
  text-transform: uppercase;
}

// Prices are always to be right aligned and monspaced for easy vertical comparison against other prices
.price {
  @extend .text-right;
  @extend .font-family-monospace;
}


// Spacing
section, .section {
  margin-bottom: 3 * $spacer;
}

section.subsection, .section.subsection, .subsection {
  margin-bottom: 1.5 * $spacer;
}

// Accordions
.accordion {
  .card {
    border-right: 0;
    border-left: 0;
    .card-header {
      padding: 0;
      background-color: transparent;
      .btn {
        font-size: $font-size-lg;
        color: $tar;
        padding-right: $input-btn-padding-x * 0.8125;
        padding-left: $input-btn-padding-x * 0.8125;
        text-align: left;
        text-decoration: none;
        &:hover {
          background-color: $fog;
        }
        &:after {
          font-family: "untitled-font-2";
          color: $smoke;
          font-size: $font-size-lg * 1.3;
          content: '\67';
          position: absolute;
          top: 0.45rem;
          right: 1.2rem;
          transform: scaleY(-1);
          -moz-transform: scaleY(-1);
          -webkit-transform: scaleY(-1);
          -ms-transform: scaleY(-1);
        }
        &.collapsed {
          &:after {
            transform: scaleY(1);
            -moz-transform: scaleY(1);
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
          }
        }
      }
      .btn-link:hover {
        text-decoration: none;
      }
    }
  }
  &.accordion-md {
    .card {
      .card-header {
        .btn {
          font-size: $font-size-base;
          &:after {
            top: 0.3rem;
          }
          &.collapsed {
            &:after {
              top: 0.35rem;
            }
          }
        }
      }
      .card-body {
        padding: 1.25rem 1rem;
      }
    }
  }
}

// Carousels / Scrollers
.carousel {

  .carousel-indicators {
    margin: 10px;
  }

  .carousel-indicators li {
    width: 33%;
    height: 8px;
    background-color: $tar;
    border: 1px solid $white;
    opacity: .8;
  }
  .carousel-indicators .active{
    background-color: $fog;
    border: 1px solid $smoke;
    opacity: .8;
  }

  .carousel-container{
    overflow-x: hidden;
  }

  &.carousel-part-badge-modal {
    .carousel-indicators {
      position: relative;
      li {
        width: auto;
        height: auto;
        background-color: transparent;
      }
    }
  }
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.scroller {
  display: flex;
  overflow: hidden;
}

.scroller .table th, .scroller .table td {
  padding: 5px 0;
}

.scroller #scrolling-container {
  display: flex;
  overflow-x: scroll;
  overflow-x: -moz-scrollbars-none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.scroller #scrolling-container::-webkit-scrollbar {
  display: none;
}
.scroll-content{
  scroll-snap-type: x proximity;
  -ms-scroll-snap-type: x proximity;
  margin-bottom: 5px;
}
.scroller li {
  list-style-type: none;
  scroll-snap-align: start;
}

.scroller li .card-body {
  padding: 0;
}

.show-for-mobile{
  display: none;
}

.z-navbar {
	z-index: $zindex-dropdown - 1;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
  .scroller{
    height: auto;
  }
}
@include media-breakpoint-down(sm) {
}
@include media-breakpoint-down(xs) {
  .hide-for-mobile{
    display: none;
  }
  .show-for-mobile{
    display: flex;
  }
}
.scroller #button-scroll-left,
.scroller #button-scroll-right {
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 50px;
}
input[type="range"] {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 1px;
}
input[type="range"]:focus {
  outline: none;
}
input::-ms-track {
  margin-top: 15px;
}
input::-ms-track, input::-ms-fill-lower, input::-ms-fill-upper {
  background: $fog;
}
input::-ms-track, input::-ms-ticks-before, input::-ms-ticks-after {
  color: transparent;
}
input::-ms-tooltip {
  display: none;
}
.rangeslider,
input::-ms-thumb {
  color: $primary;
  width: 138px;
  cursor: pointer;
  border-radius: 1px;
}
.rangeslider,
input::-webkit-slider-thumb {
  background: $primary;
  cursor: pointer;
  height: 8px;
  width: 138px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 1px;
}
.rangeslider,
input::-moz-range-thumb {
  background: $primary;
  cursor: pointer;
  height: 8px;
  width: 138px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 1px;
}
.scroll-width{
  width: 100vw;
  padding: 0 30px 0 30px;
}
.scroller-chevron{
  color: $smoke;
  font-size: $font-size-sm;
}

// Custom CSS for patternlab (not meant to be used in production)
.font-family-sans-serif {
  font-family: $font-family-sans-serif;
}
.font-family-monospace {
  font-family: $font-family-monospace ;
}
.font-family-condensed {
  font-family: $font-family-condensed ;
}

// Responsive adjustments by breakpoint
@include media-breakpoint-down(xs) {
  .title-1 {
    font-size: $font-size-base * 1.2;
  }

  .title-2 {
    font-size: $font-size-base * 1.1;
  }

  .btn, .form-control {
    font-size: $font-size-sm;
  }
}

@include media-breakpoint-down(sm) {

  .card-body {
    padding: map-get($spacers, 2);
  }

  // Make logo image only 100px wide
  .logo {
    width: 100px;
  }

  // Reduce size of header navigation icons in order to make header nav only 64px tall
  .navbar {
    &.navbar-header {
      .navbar-brand {
        padding: 18px 0 12px;
      }
      .nav-item {
        .nav-link {
          padding: 18px 20px 12px;
          span[class^='icon-'] {
            font-size: 24px;
          }
        }
      }
    }
  }

  .carousel-inner-product .carousel-item-right.active,
  .carousel-inner-product .carousel-item-next {
    transform: translateX(0%);
  }

  .carousel-inner-product .carousel-item-left.active,
  .carousel-inner-product .carousel-item-prev {
    transform: translateX(0%);
  }
}


@media all and (min-width: map-get($grid-breakpoints, 'md')) {
  .card-body {
    padding: map-get($spacers, 4);
  }
}
@include media-breakpoint-down(lg) {
  /* Keeps dropdown from displaying as
  a block in screens smaller than lg,
  which is the default behavior*/
  .navbar-category .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

.col-form-label {
  font-size: $font-size-base;
  text-align: left;
  padding-bottom: 4px;
}
.flushed {
  margin-right: -21px;
  margin-left: -21px;
}

.w-lg-auto {
  @include media-breakpoint-up(lg) {
    width: auto !important;
  }
}
.text-line-through {
  text-decoration: line-through;
}

/* Assigning .print to an element will make it only show when printing.
   Assigning .print-hide to an element will make it hide when printing. */
@media screen {
  .print {
      display: none;
  }
}

@media print {
  .print-hide {
      display: none;
  }

  .print {
      display: block;
  }


	.print-page-break-before {
		page-break-before: always;
	}
}



