@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("assets/fonts/untitled-font-2.eot");
  src:url("assets/fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/untitled-font-2.woff") format("woff"),
    url("assets/fonts/untitled-font-2.ttf") format("truetype"),
    url("assets/fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:after {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\61";
}
.icon-arrow:before {
  content: "\62";
}

.icon-arrow-back:before {
  content: "\62";
  display: inline-block;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.icon-arrow-up:before {
  content: "\62";
  display: inline-block;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}
.icon-arrow-down:before {
  content: "\62";
  display: inline-block;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.icon-arrow-up-down:before {
  content: "\62";
  display: inline-block;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.icon-arrow-up-down:after {
  content: "\62";
  display: inline-block;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  position: relative;
  left: -3px;
}
.icon-blocker:before {
  content: "\47";
}
.icon-bullet:before {
  content: "\63";
}
.icon-change-dealer:before {
  content: "\64";
}
.icon-checkbox-check:before {
  content: "\65";
}
.icon-checkbox-empty:before {
  content: "\66";
}
.icon-chevron-down:before {
  content: "\67";
}
.icon-chevron-left:before {
  content: "\68";
}
.icon-chevron-up:before {
  content: "\67";
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
}
.icon-chevron-right:before {
  content: "\68";
  display: inline-block;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.icon-clear:before {
  content: "\69";
}
.icon-close:before {
  content: "\6a";
}
.icon-copy:before {
  content: "\48";
}
.icon-dashboard:before {
  content: "\6b";
}
.icon-details:before {
  content: "\6c";
}
.icon-dots-horz:before {
  content: "\6d";
}
.icon-dots-vert:before {
  content: "\45";
}
.icon-download:before {
  content: "\49";
}
.icon-facebook:before {
  content: "\44";
}
.icon-information:before {
  content: "\4a";
}
.icon-instagram:before {
  content: "\41";
}
.icon-location:before {
  content: "\7a";
}
.icon-lock:before {
  content: "\4b";
}
.icon-login:before {
  content: "\77";
}
.icon-map:before {
  content: "\76";
}
.icon-menu:before {
  content: "\74";
}
.icon-minus:before {
  content: "\73";
}
.icon-package:before {
  content: "\4d";
}
.icon-pdf:before {
  content: "\4e";
}
.icon-play:before {
  content: "\72";
}
.icon-plus:before {
  content: "\71";
}
.icon-price-tag:before {
  content: "\70";
}
.icon-radio-button-fill:before {
  content: "\6f";
}
.icon-radio-button-stroke:before {
  content: "\6e";
}
.icon-search:before {
  content: "\46";
}
.icon-star-empty:before {
  content: "\43";
}
.icon-star-full:before {
  content: "\42";
}
.icon-twitter:before {
  content: "\79";
}
.icon-user:before {
  content: "\4c";
}
.icon-warning:before {
  content: "\78";
}
.icon-youtube:before {
  content: "\75";
}
