<h2 class="display-3" id="templates">Templates</h2>

<app-search-results></app-search-results>

<app-rep-tools></app-rep-tools>

<app-dashboard></app-dashboard>

<app-mobile-order-details></app-mobile-order-details>

<app-package-feedback></app-package-feedback>