      <h1 class="title-1 mt-4">Office Time: Quick Prep</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2"></th>
          <th colspan="99" class="text-center"><strong>Reports to Generate</strong></th>
        </tr>
        <tr>
          <th>Rep Code</th>
          <th>Dealer Number</th>
          <th class="text-center text-nowrap">
            <input type="checkbox" value="" checked id="defaultCheck1" class="mr-1"> 
            Business Meeting Sheet
          </th>
          <th class="text-center text-nowrap">
            <input type="checkbox" value="" checked id="defaultCheck1" class="mr-1"> 
            Brand Report
          </th>
          <th class="text-center text-nowrap">
            <input type="checkbox" value="" checked id="defaultCheck1" class="mr-1"> 
            Pick Report
          </th>
          <th class="text-center text-nowrap">
            <input type="checkbox" value="" checked id="defaultCheck1" class="mr-1"> 
            Cummulative Program Reports
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of [0, 1, 2, 3, 4]; let i = index">
          <td class="bg-lighter">
            <select class="form-control form-control-sm">
              <option value="" selected>Select a rep</option>
              <option *ngFor="let salesRep of (salesReps$ | async)">
                {{salesRep.dealerCode}} - {{salesRep.name}}
              </option>
            </select>
          </td>
          <td class="bg-lighter">
            <input type="text" class="form-control form-control-sm" [ngClass]="{'is-invalid': i === 0}" max="8" maxlength="8" placeholder="Enter a dealer number...">
            <div *ngIf="i === 0" class="invalid-feedback">Invalid dealer number.</div>
          </td>
          <td class="text-center align-middle">
            <input type="checkbox" value="" checked id="defaultCheck1">
          </td>
          <td class="text-center align-middle">
            <input type="checkbox" value="" checked id="defaultCheck1">
          </td>
          <td class="text-center align-middle">
            <input type="checkbox" value="" checked id="defaultCheck1">
          </td>
          <td class="text-center align-middle">
            <input type="checkbox" value="" checked id="defaultCheck1">
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#officeTimeModal">Generate Reports</button>
    <button type="button" class="btn btn-white ml-2">Clear all selections</button>
    <p class="mt-3"><small class="form-text text-muted">Last generated: Oct 10, 2019 at 05:59 PM</small></p>
    <p class="mt-3"><small class="form-text text-muted">Last generated: Oct 10, 2019 at 05:59 PM <span class="text-danger">(Failed)</span></small></p>