<app-navbar-rep-tools [active]="'sales-summary'"></app-navbar-rep-tools>
<nav class="navbar navbar-header navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img class="logo" src="http://int01.lemansplatform.com/assets/images/parts_unlimited_logo.svg">
  </a>
  <ul class="navbar-nav flex-row ml-auto">
    <li *ngIf="isLoggedIn" class="nav-item">
      <div class="navbar-text navbar-text-summary d-none d-lg-block">
        <small class="d-block text-truncate">&nbsp;</small>
        <span class="d-block"><strong>MTAMBORNINO</strong></span>
        <small class="d-block"><a href="#">my account</a></small>
      </div>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <div class="navbar-text navbar-text-summary bg-light d-none d-lg-block">
        <small class="d-block text-truncate">Current Order: 100418C215</small>
        <span class="d-block"><strong>3 lines / $1,345.95</strong></span>
        <small class="d-block"><a href="#">view order</a></small>
      </div>
      <a class="nav-link d-lg-none" href="#">
        <span class="icon-package"></span>
      </a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <div class="navbar-text navbar-text-summary bg-light d-none d-lg-block">
        <div class="d-none d-lg-block">
          <small class="d-block">ENG001</small>
          <span class="d-block text-truncate"><strong>ENGERLHART INC</strong></span>
          <small class="d-block"><a href="#">change dealer</a></small>
        </div>
      </div>
      <a class="nav-link d-lg-none" href="#">
        <span class="icon-user"></span>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="nav-link-text d-none d-lg-inline">Dealers</span>
        <span class="icon-map"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="nav-link-text d-none d-lg-inline">Login</span>
        <span class="icon-login"></span>
      </a>
    </li>
  </ul>
  <ul *ngIf="isLoggedIn" class="navbar-nav flex-row">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="icon-menu"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
        <div class="dropdown-item dropdown-item-lg pr-0">
          Display Dealer Prices
          <div class="custom-control custom-switch ml-auto pt-1"  (click)="$event.stopPropagation()">
            <input type="checkbox" class="custom-control-input" id="display-dealer-prices" checked>
            <label class="custom-control-label" for="display-dealer-prices"></label>
          </div>
        </div>
        <div class="dropdown-item dropdown-item-lg pr-0">
          Display Purchase History
          <div class="custom-control custom-switch ml-auto pt-1"  (click)="$event.stopPropagation()">
            <input type="checkbox" class="custom-control-input" id="dealer-purchase-history-switch">
            <label class="custom-control-label" for="dealer-purchase-history-switch"></label>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item dropdown-item-lg" href="#">Dashboard <span class="icon-dashboard ml-auto"></span></a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item dropdown-item-section-title">SECTION TITLE</div>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item dropdown-item-section-title">SECTION TITLE</div>
        <a class="dropdown-item" href="#">Something</a>
        <a class="dropdown-item" href="#">Something else</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item dropdown-item-lg" href="#">Log Out<span class="icon-arrow ml-auto"></span></a>
      </div>
    </li>
  </ul>
</nav>