svg {
  g {
    &.label {
      cursor: pointer;
      circle {
        stroke: #F7CB15;
        stroke-width: 2;
        fill: white;
      }
      text {
        font-size: 10px;
        font-family: "IBM Plex Sans Condensed", sans-serif;
        font-weight: 600;
      }
      &.active, &:hover {
        circle {
          fill: #F7CB15;
        }
      }
    }
  }
}
.build-nav {
  position: absolute;
  top: 0;
  right: 10px;
  ul {
    li {
      margin-bottom: 5px;
      .btn {
        padding: 0.625rem 1rem;
        color: #656263;
        font-size: 14px;
        text-transform: uppercase;
        .label {
          border: 2px solid #F7CB15;
          border-radius: 50%;
          height: 23px;
          width: 23px;
          font-size: 10px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
        }        
      }
      .btn-bike-build {
        background-color: #FFFFFF;
        border: transparent;
        display: flex;
        width: fit-content;
        align-items: center;
        &.active, &:hover {
          background-color: #F7CB15;
          .label {
            background-color: #FFFFFF;
            border-color: #FFFFFF;
          }   
        }        
      }
    }
  }
}
.build-description {
  position: absolute;
  top: 55px;
  left: 60px;
  max-width: 40%;
}