<div *ngIf="bikeBuild" class="position-relative">
  <div class="d-none d-lg-block">
    <svg #svgEl class="build-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" attr.viewBox="0 0 {{bikeBuild.navigation.images.desktop.width}} {{bikeBuild.navigation.images.desktop.height}}">
      <!-- Image -->
      <image width="100%" height="100%" attr.xlink:href="{{bikeBuild.navigation.images.desktop.url}}"></image>
      <!-- Labels -->
      <g *ngFor="let label of bikeBuild.navigation.labels" class="label" [ngClass]="{'active': label?.displayName === highLightedLabel?.displayName}" (mouseover)="setHighlightedLabel(label)" (mouseout)="removeHighlightedLabel()">
        <circle [attr.cx]="label.x" [attr.cy]="label.y" [attr.r]="12.5"></circle>
        <text [attr.x]="(label.displayName < 10) ? label.x - 3 : label.x - 6"[attr.y]="label.y + 4">{{label.displayName}}</text>
      </g>
    </svg>
    <div *ngIf="bikeBuild?.navigation?.labels?.length" class="build-nav">
      <ul class="list-unstyled mt-4">
        <li *ngFor="let label of bikeBuild.navigation.labels" class="mb-1">
          <a href class="btn btn-lg btn-bike-build" [ngClass]="{'active': label?.displayName === highLightedLabel?.displayName}" (mouseover)="setHighlightedLabel(label)" (mouseout)="removeHighlightedLabel()">
            <span class="label">{{label.displayName}}</span>
            {{label.section}}
          </a>
        </li>
        <li>
          <button type="button" class="btn btn-lg btn-block btn-warning">
            Download build sheet
          </button>
        </li>
      </ul>
    </div>
    <div class="build-description">
      <h2>{{bikeBuild.name}}</h2>
      <p>{{bikeBuild.description}}</p>
    </div>
  </div>
  
  <div class="d-block d-lg-none">
    
  </div>
</div>