<hr>
<div class="row mb-1">

  <!-- Order ID Column-->
  <div class="col-sm-6 col-md-4 col-lg-3" [ngClass]="{ 'col-6': readonly, 'col-12': !readonly }">
      <h2 class="title-2">Order ID</h2>
      <div class="form-group required">
          <label for="formGroupExampleInput">PO #</label>
          <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
      </div>

      <div class="form-group">
          <label for="formGroupExampleInput">Order Name</label>
          <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
      </div>

      <div class="form-group required">
          <label for="formGroupExampleInput">Contact</label>
          <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
      </div>
  </div>


  <!-- Payment Column-->
  <div class="col-sm-6 col-md-4 col-lg-3" [ngClass]="{ 'col-6': readonly }">
      <h2 class="title-2">Payment</h2>
      <div class="form-group">
          <label for="exampleFormControlSelect1">Payment Type</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
      </div>

  </div>


  <!-- Shipping Column-->
  <div class="col-sm-6 col-md-4 col-lg-3" [ngClass]="{ 'col-6': readonly }">
      <h2 class="title-2">Shipping</h2>
      <div class="form-group">
          <label for="exampleFormControlSelect1">Ship Via</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
      </div>

      <div class="form-group" data-toggle="modal" data-target="#shippingAddressModal">
          <label for="exampleFormControlSelect1">Shipping Address</label>
          <select class="form-control">
            <option>Dealer Address</option>
            <option>Dropship Address</option>
          </select>
      </div>

      <div>
          <address>
              <strong>Twitter, Inc.</strong><br>
              1355 Market St, Suite 900<br>
              San Francisco, CA 94103<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
      </div>
  </div>


    <!-- Order Details-->
    <div class="col-sm-6 col-md-4 col-lg-3" [ngClass]="{ 'col-6': readonly }">
        <h2 class="title-2">Order Details</h2>

        <table class="table table-row-no-border">
            <tbody>
              <tr>
                <th scope="row" class="text-muted">Order Type</th>
                <td colspan="2" class="text-right">Regular</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Line(s) / Item(s)</th>
                <td class="text-right">10 / 15</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Subtotal</th>
                <td class="font-family-monospace text-right">$500</td>
              </tr>
            </tbody>
        </table>

        <div class="form-group">
            <label for="exampleFormControlSelect1" data-toggle="modal" data-target="#backorderInfoModal">Backorder Policy<i class="fa fa-question-circle text-info" aria-hidden="true"></i></label>
            <select class="form-control">
              <option>Allow Backorders</option>
              <option>Order Available Parts</option>
              <option>Cancel Order</option>
            </select>
        </div>

        <ng-container *ngIf="!readonly">
            <button type="button" class="btn btn-sm btn-primary">
                Apply Program
            </button>
            <button type="button" class="btn btn-sm btn-primary ml-2" (click)="emitToggleShowManageWarehouseTable()">
                Manage Warehouse
            </button>
        </ng-container>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="backorderInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-info">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-info-circle mr-1"></i>Backorder Policy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>

      </div>
    </div>
</div>


<!-- Shipping address Modal -->
<div class="modal fade" id="shippingAddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-info">
          <h5 class="modal-title" id="exampleModalLabel">Add Shipping Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Shipping To</label>
                  <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Address Line 1</label>
                    <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <div class="form-group">
                      <label for="exampleInputEmail2">Address Line 2</label>
                      <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>


                <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom01">City</label>
                      <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">State</label>
                        <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
                      </div>

                </div>


                <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom01">Zip</label>
                      <input type="text" [attr.readonly]="readonly" [ngClass]="{ 'form-control-plaintext': readonly }" class="form-control">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                </div>

              </form>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-white">Cancel</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Validate Address</button>
          </div>
      </div>
    </div>
</div>






