<div id="carousel-hero" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-hero" data-slide-to="1"></li>
      <li data-target="#carousel-hero" data-slide-to="2"></li>
      <li data-target="#carousel-hero" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner carousel-inner-home">
      <div class="carousel-item active">
        <img src="https://via.placeholder.com/1080x490" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://via.placeholder.com/1080x490" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://via.placeholder.com/1080x490" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
          <img src="https://via.placeholder.com/1080x490" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
