<section>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="display-4">Margin/Spacing</h3>
    </div>
    <div class="card-body">
      <h1 class="title-1">Page .title-1</h1>

      <div class="row">
        <div class="col">
          <p>On each individual page, add a .title-1 class to the page title. This minimizes the cases where you would
            apply a bootstrap margin class (such as mt-3) because .title-1 includes our default page title margins.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>