<h2 class="display-3">Atoms</h2>
<div class="card mb-5">
  <div class="card-header">
    <h3 class="display-4">Colors</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-primary"><br><br></div>
          <div class="card-footer">
            PRIMARY <br> "Unlimited Blue" (#1964A8)
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-danger"><br><br></div>
          <div class="card-footer">
            SECONDARY <br> "Parts Red" (#E03A3E)
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-success"><br><br></div>
          <div class="card-footer">
            SUCCESS <br> "Parts Green" (#009059)
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-info"><br><br></div>
          <div class="card-footer">
            INFO <br> Unlimited Navy (#03256C)
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-warning"><br><br></div>
          <div class="card-footer">
            WARNING <br> Marigold (#F7CB15)
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-orange"><br><br></div>
          <div class="card-footer">
            Daily Specials Orange <br> (#ec6c2e) <br>
            (only used for daily specials)
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-danger"><br><br></div>
          <div class="card-footer">
            DANGER <br> "Parts Red" (#F7CB15)
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-dark"><br><br></div>
          <div class="card-footer">
            DARK <br> "Tar" #231F20
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-light"><br><br></div>
          <div class="card-footer">
            LIGHT <br> "Smoke" (#231F20)
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body bg-lighter"><br><br></div>
          <div class="card-footer">
            LIGHTER <br> "Fog" (#EFEFEF)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-5">
  <div class="card-header">
    <h3 class="display-4">Fonts</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <ul>
          <li><strong>Sans Serif:</strong> <span class="font-family-sans-serif"> "IBM Plex Sans, "Helvetica Neue",
            sans-serif</span></li>
            <li><strong>Monospace:</strong> <span class="font-family-monospace"> "IBM Plex Mono", monospace;</span></li>
            <li><strong>Condensed:</strong> <span class="font-family-condensed"> "IBM Plex Sans Condensed",
              sans-serif</span></li>
              <li><strong>Base:</strong> "IBM Plex Sans Condensed", sans-serif</li>
            </ul>
          </div>
          <div class="col">
            <div class="alert alert-warning">The base font size is 0.9375rem (15px).</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card mb-5">
      <div class="card-header">
        <h3 class="display-4">Icons</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-add"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Icon Add" (.icon-add) is used for:</p>
                
                <ul>
                  <li>Select Vehicle button</li>
                  <li>Add Part</li>
                  <li>indicates <i>"create"</i> actions</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-plus"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Icon Plus" (.icon-plus) is used for:</p>
                
                <ul>
                  <li>Expanding Accordions</li>
                  <li>Expands an area of the page.</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-minus"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Icon Minus" (.icon-minus) is used for:</p>
                
                <ul>
                  <li>Closing Accordions.</li>
                  <li>Minimizes expandable section.</li>
                </ul>
              </div>
            </div>
          </div>
          
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-login"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Icon Login" (.icon-login)</p>
                
                <ul>
                  <li>Login link Main Navigation </li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-change-dealer"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Icon Change Dealer" (.icon-change-dealer)</p>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-dashboard"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Icon Dashboard" (.icon-dashboard)</p>
                <ul>
                  <li>Links to the dealer dashboard</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-price-tag"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Icon Price Tag" (.icon-price-tag)</p>
                <ul>
                  <li>Parts list price</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-menu"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Icon Menu" (.icon-menu)</p>
                <ul>
                  <li>Opens dealer menu on main nav</li>
                </ul>
              </div>
            </div>
          </div>
          
          
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-search"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Search" (.icon-search)</p>
                <ul>
                  <li>Search bar</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-map"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Map" (.icon-map)</p>
                <ul>
                  <li>Link to dealer locator</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-location"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Location Icon" (.icon-location)</p>
                <ul>
                  <li>Indicates a dealer location result on the map</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-clear"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Clear Icon" (.icon-clear)</p>
                <ul>
                  <li>Use to clear dismissable alerts and modals</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-close"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Close Icon" (.icon-close)</p>
                <ul>
                  <li>Use to close menus</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-arrow"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Arrow Icon" (.icon-arrow)</p>
                <ul>
                  <li>Use to represent next / logout actions</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-user"></span></h3>
              </div>
              <div class="card-footer">
                <p>"User Icon" (.icon-user)</p>
                <ul>
                  <li>Use to represent dealer menu</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-md-3 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3><span class="icon-package"></span></h3>
              </div>
              <div class="card-footer">
                <p>"Package Icon" (.icon-package)</p>
                <ul>
                  <li>Use to represent current order</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="card mb-5">
      <div class="card-header">
        <h3 class="display-4">Badges/Chips</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-light btn-pill">
              Filter Chip <i class="icon-clear ml-auto"></i>
            </button>
          </div>
          
          <div class="col">
            <p>
              Use .btn-pill for filter chips. Filter chips include .icon-clear for the icon.
            </p>
            Use:
            <ul>
              <li>Search Filter chips</li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
    
    
    <div class="card mb-5">
      <div class="card-header">
        <h3 class="display-4">Buttons</h3>
      </div>
      <div class="card-body">
        <h4>Primary action <small>(.btn-warning)</small></h4>
        <div class="row">
          <div class="col">
            <button class="btn btn-warning btn-lg mb-2 mr-2">Primary</button>
            <button class="btn btn-warning mb-2 mr-2">Primary</button>
            <button class="btn btn-warning btn-sm mb-2 mr-2">Primary</button>
          </div>
          <div class="col">
            <p>Use to indicate primary actions user should perform at page or modal level. Such actions should indicate
              either conversions or steps that alter the state of the user experience. For example:</p>
              <ul>
                <li>"Add to Order" item on Product Detail Page</li>
                <li>"Select Vehicle" to better narrow results</li>
              </ul>
            </div>
          </div>
          <hr>
          <h4>Secondary action <small>(.btn-light)</small></h4>
          <div class="row">
            <div class="col">
              <button class="btn btn-light btn-lg bg-lighter mb-2 mr-2">Secondary</button>
              <button class="btn btn-light bg-lighter mb-2 mr-2">Secondary</button>
              <button class="btn btn-light btn-sm bg-lighter mb-2 mr-2">Secondary</button>
            </div>
            <div class="col">
              <p>Use to indicate secondary or alternative actions user should perform at page, modal, or list item level.
                For example:</p>
                <ul>
                  <li>"Continue Shopping" option on "Add Part To Order" confirmation modal, next to primary action "Go to
                    order"</li>
                    <li>"View details" option on Open Orders List items</li>
                  </ul>
                </div>
              </div>
              <hr>
              <h4>Destructive action <small>(.btn-white)</small></h4>
              <div class="row">
                <div class="col">
                  <button class="btn btn-white btn-lg mb-2 mr-2">Destructive</button>
                  <button class="btn btn-white mb-2 mr-2">Destructive</button>
                  <button class="btn btn-white btn-sm mb-2 mr-2">Destructive</button>
                </div>
                <div class="col">
                  <p>Use to indicate destructive / cancelling actions user should perform at page, modal, or list item level.
                    This style is purposedly less prominent to reduce probability of user triggering it by mistake. For example:
                  </p>
                  <ul>
                    <li>"Delete" button on Open Order Detail items list</li>
                    <li>"Cancel" button on switch dealer menu</li>
                  </ul>
                  <p class="alert alert-warning">NOTE: destructive actions such as "Delete" should ALWAYS trigger a confirmation
                    modal to ensure user
                    wants to engage in such action.</p>
                  </div>
                </div>
                <hr>
                <h4>Disabled state</h4>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-warning mb-2 mr-2" disabled>Primary</button>
                    <button class="btn btn-light mb-2 mr-2" disabled>Secondary</button>
                    <button class="btn btn-white mb-2 mr-2" disabled>Destructive</button>
                  </div>
                  <div class="col">
                    <p>Default disabled states.</p>
                  </div>
                </div>
                <hr>
                <h4>Raised option <small>(.btn-raised)</small></h4>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-warning btn-raised mb-2 mr-2">Primary</button>
                    <button class="btn btn-light btn-raised mb-2 mr-2">Secondary</button>
                    <button class="btn btn-white btn-raised mb-2 mr-2">Destructive</button>
                  </div>
                  <div class="col">
                    <p>Optional raised display option to accent actions. Use sparingly.</p>
                  </div>
                </div>
                <hr>
                <h4>Block buttons <small>(.btn-block)</small></h4>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-warning btn-block mb-2 mr-2">Primary</button>
                    <button class="btn btn-light btn-block mb-2 mr-2">Secondary</button>
                    <button class="btn btn-white btn-block mb-2 mr-2">Destructive</button>
                  </div>
                  <div class="col">
                    <p>Block buttons are a great option to responsively increase the size of buttons without having to user custom
                      styles.</p>
                      <p class="alert alert-warning">
                        NOTE: Avoid placing two block buttons side by side, as this leads to unexpected responsive behaviors. If
                        absolute necessary, resolve to using Bootstrap utility classes to better distribute content evently within
                        the same row.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="card mb-5">
                <div class="card-header">
                  <h3 class="display-4">Typography</h3>
                </div>
                <div class="card-body">
                  <div class="container">
                    <h4>Headings</h4>
                    <div class="row mt-4">
                      <div class="col">
                        <h1>Heading 1</h1>
                        <h2>Heading 2</h2>
                        <h3>Heading 3</h3>
                        <h4>Heading 4</h4>
                        <h5>Heading 5</h5>
                        <h6>Heading 6</h6>
                      </div>
                    </div>
                    <hr>
                    <h4>Paragraph</h4>
                    <div class="row mt-4">
                      <div class="col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                          mollit anim id est laborum.</p>
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                            dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                            incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                            vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
                            dolorem eum fugiat quo voluptas nulla pariatur?</p>
                          </div>
                        </div>
                        <hr>
                        <div class="row mt-4">
                          <div class="col">
                            <h1 class="title-1">Title 1 (.title-1)</h1>
                          </div>
                          
                          <div class="col">
                            <p>Use h1.title-1 for page titles and major sections. For example:</p>
                            <ul>
                              <li>Dashboard "page titles"</li>
                              <li>Large "section titles" on the home and landing pages.</li>
                            </ul>
                          </div>
                        </div>
                        
                        <div class="row mt-3">
                          <div class="col">
                            <h2 class="title-2">Title 2 (.title-2)</h2>
                          </div>
                          
                          <div class="col">
                            <p>Use h2.title-2 as a secondary title within the actual page content. For example:</p>
                            <ul>
                              <li>Product name in product badges</li>
                              <li>"Features" and "Specs" sections on the product detail page.</li>
                            </ul>
                          </div>
                        </div>
                        
                        <div class="row mt-3">
                          <div class="col">
                            <h3 class="title-3">Title 3 (.title-3)</h3>
                          </div>
                          <div class="col">
                            <p>
                              Use h3.title-3 is used as a smaller title within page content. For example:
                            </p>
                            <ul>
                              <li>The MSRP value is labeled with a .title-3 and is smaller than the value it is above.</li>
                            </ul>
                          </div>
                        </div>
                        <hr>
                        
                        <h4>Small Text</h4>
                        <div class="row mt-4">
                          <div class="col">
                            <p><small>This line of text is meant to be treated as fine print.</small></p>
                          </div>
                          
                          <div class="col">
                            <p>Uses:</p>
                            
                            <div class="alert alert-warning">
                              This font size (10px) is also used for form labels and table headers, but does not use &lt;small&gt;.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card mb-5">
                    <div class="card-header">
                      <h3 class="display-4">Forms</h3>
                    </div>
                    <div class="card-body">
                      <h4>Form Controls</h4>
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Example input</label>
                              <input type="text" class="form-control" placeholder="Enter text...">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Example Email address</label>
                              <input type="email" class="form-control" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect1">Example select</label>
                              <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect2">Example multiple select</label>
                              <select multiple class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">Example textarea</label>
                              <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                              <label>Example Radio Buttons</label>
                              <div class="form-check">
                                
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                                checked>
                                <label class="form-check-label" for="exampleRadios1">
                                  Default radio
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                  Second default radio
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
                                disabled>
                                <label class="form-check-label" for="exampleRadios3">
                                  Disabled radio
                                </label>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Example Checkboxes</label>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Default checkbox
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                                <label class="form-check-label" for="defaultCheck2">
                                  Disabled checkbox
                                </label>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2"></label>
                              </div>
                            </div>
                            <hr>
                            <div class="form-group">
                              <label for="exampleFormControlFile1">Example file input</label>
                              <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                            <hr>
                            <button type="reset" class="btn btn-white mr-2">Reset</button>
                            <button type="submit" class="btn btn-warning">Submit</button>
                          </form>
                        </div>
                        <div class="col">
                          <div class="alert alert-primary">
                            Form Groups have built-in vertical spacing.
                          </div>
                        </div>
                      </div>
                      <hr>
                      <h4>Form Control Sizes</h4>
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Example Large Form Control</label>
                              <input type="text" class="form-control form-control-lg" placeholder=".form-control-lg">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Example Form Control</label>
                              <input type="text" class="form-control form-control" placeholder=".form-control">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Example Small Form Control</label>
                              <input type="text" class="form-control form-control-sm" placeholder=".form-control-sm">
                            </div>
                          </form>
                        </div>
                        <div class="col">
                        </div>
                      </div>
                      <hr>
                      <h4>Form Control Validation</h4>
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Example valid input</label>
                              <input type="text" class="form-control is-valid" placeholder="Enter text...">
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Example invalid input</label>
                              <input type="text" class="form-control is-invalid" placeholder="Enter text...">
                              <div class="invalid-feedback">
                                Please provide valid value.
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                                <label class="form-check-label" for="invalidCheck3">
                                  Agree to terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                  You must agree before submitting.
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col">
                          <div class="alert alert-warning">
                            Use bootstrap 4 classes <span class="text-success">.is-valid</span> or <span
                            class="text-danger">.is-invalid</span> as a fallback if you cannot use HTML5 validation. Bootstrap 4
                            makes
                            use of the :valid :invalid pseudo classes by default.
                            <a href="https://getbootstrap.com/docs/4.1/components/forms/#validation">Bootstrap Validation Docs</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card mb-5">
                    <div class="card-header">
                      <h3 class="display-4">Feedback</h3>
                    </div>
                    <div class="card-body">
                      <h4>Progress bar</h4>
                      <div class="row">
                        <div class="col">
                          <div class="progress progress-sm">
                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <p>Use it to deterministically indicate the app is loading. For example:</p>
                          <ul>
                            <li>On app route change</li>
                          </ul>
                        </div>
                      </div>
                      <hr>
                      <h4>Spinners</h4>
                      <div class="row">
                        <div class="col">
                          <div class="spinner-border spinner-border-lg text-primary mr-4" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>&nbsp;
                          <div class="spinner-border text-primary mr-4" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>&nbsp;
                          <div class="spinner-border spinner-border-sm text-primary mr-4" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          
                        </div>
                        <div class="col">
                          <p>Use it to nondeterministically indicate content is loading. For example:</p>
                          <ul>
                            <li>On app load</li>
                            <li>On router-outlet load</li>
                            <li>On image load</li>
                            <li>In-button to indicate action is being processed</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card mb-5">
                    <div class="card-header">
                      <h3 class="display-4">Navigation</h3>
                    </div>
                    <div class="card-body">
                      <h4>Nav bar</h4>
                      <div class="row">
                        <div class="col">
                          <ul class="nav">
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col">
                          
                        </div>
                      </div>
                      <hr>
                      <h4>Nav tabs</h4>
                      <div class="row">
                        <div class="col">
                          <ul class="nav nav-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Products</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Parts</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col"></div>
                      </div>
                      <hr>
                      <h4>Pagination</h4>
                      <div class="row">
                        <div class="col">
                          <nav class="mt-4">
                            <ul class="pagination">
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo; Previous</a>
                              </li>
                              <li class="page-item active"><a href="#" class="page-link">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">Next &raquo;</span></a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>
                        <hr>
                        <h4>Accordion</h4>
                        <div class="row">
                          <div class="col">
                            <div class="accordion" id="accordionExample">
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne"
                                  aria-expanded="true" aria-controls="collapseOne">
                                  Collapsible Group Item #1
                                </button>
                              </div>
                              
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                  moon
                                  officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                  Brunch 3 wolf
                                  moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                  Nihil anim
                                  keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                  excepteur
                                  butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                  probably
                                  haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTwo">
                                <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                              </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                              <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                moon
                                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                Brunch 3 wolf
                                moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim
                                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                excepteur
                                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                probably
                                haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingThree">
                              <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse"
                              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Collapsible Group Item #3
                            </button>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                              moon
                              officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                              Brunch 3 wolf
                              moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                              Nihil anim
                              keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                              excepteur
                              butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                              probably
                              haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col"></div>
                  </div>
                  <hr>
                  <h4>Dropdowns</h4>
                  <div class="row">
                    <div class="col">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
            
            <!-- Tables -->
            <div class="card mb-5">
              <div class="card-header">
                <h3 class="display-4">Table</h3>
              </div>
              
              <div class="card-body">
                <h4>Default</h4>
                <div class="row">
                  <div class="col">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col"><a href="#"><u>Handle</u></a> <span class="icon-arrow-down ml-1"></span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td><a href="#">@mdo</a></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td><a href="#">@fat</a></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td><a href="#">@twitter</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col">
                    <p>Use primarily for most (if not all) tabular data displays.</p>
                  </div>
                </div>
                <hr>
                <h4>Striped <small>(.table-striped)</small></h4>
                <div class="row">
                  <div class="col">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col"><a href="#"><u>Handle</u></a> <span class="icon-arrow-down ml-1"></span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td><a href="#">@mdo</a></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td><a href="#">@fat</a></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td><a href="#">@twitter</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col">
                    <p>Use to increase readability of tabular data.</p>
                  </div>
                </div>
                <hr>
                <h4>Hover <small>(.table-hover)</small></h4>
                <div class="row">
                  <div class="col">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col"><a href="#"><u>Handle</u></a> <span class="icon-arrow-down ml-1"></span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td><a href="#">@mdo</a></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td><a href="#">@fat</a></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td><a href="#">@twitter</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col">
                    <p>Use to increase interactivity of tabular data.</p>
                  </div>
                </div>
                <hr>
                <h4>Striped Hover <small>(.table-striped.table-hover)</small></h4>
                <div class="row">
                  <div class="col">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col"><a href="#"><u>Handle</u></a> <span class="icon-arrow-down ml-1"></span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td><a href="#">@mdo</a></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td><a href="#">@fat</a></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td><a href="#">@twitter</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col">
                    <p>Use to increase interactiviy and readability of tabular data. Recommended for long tables with items with
                      individual action buttons or links. For example:</p>
                      <ul>
                        <li>Open Orders list</li>
                        <li>Submitted Orders list</li>
                        <li>Backorders list</li>
                      </ul>
                    </div>
                  </div>
                  <hr>
                  <h4>Small Table <small>(.table-sm)</small></h4>
                  <div class="row">
                    <div class="col">
                      <table class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col"><a href="#"><u>Handle</u></a> <span class="icon-arrow-down ml-1"></span></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td><a href="#">@mdo</a></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td><a href="#">@fat</a></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td><a href="#">@twitter</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col">
                      <p>Use to accomodate tabular data in smaller areas.</p>
                      <div class="alert alert-warning">
                        NOTE: always consider using regular sized tables first, and only default to this table size if absolutely
                        necessary.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <!-- Images -->
              <div class="card mb-5">
                <div class="card-header">
                  <h3 class="display-4">Images</h3>
                </div>
                
                <div class="card-body">
                  <h4>Header Logo <small>(140x34)</small></h4>
                  <div class="row">
                    <div class="col">
                      <img class="logo" src="http://int01.lemansplatform.com/assets/images/parts_unlimited_logo.svg">
                    </div>
                    <div class="col">
                    </div>
                  </div>
                  <hr>
                  <h4>Footer Logo <small>(140x34)</small></h4>
                  <div class="row">
                    <div class="col">
                      <img class="logo" src="http://int01.lemansplatform.com/assets/images/parts-unlimited/parts_untld-footer.png">
                    </div>
                    <div class="col">
                    </div>
                  </div>
                  <hr>
                  <h4>Hero Image <small>(1080x490)</small></h4>
                  <div class="row">
                    <div class="col">
                      <img class="img-fluid" src="https://via.placeholder.com/1080x490">
                      <p>Use in carousel and landing pages.</p>
                    </div>
                  </div>
                  <hr>
                  <h4>Image preview large <small>(400x400)</small></h4>
                  <div class="row">
                    <div class="col">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400">
                    </div>
                    <div class="col">
                      <p>Use in Product / Part detail pages.</p>
                    </div>
                  </div>
                  <hr>
                  <h4>Image preview med <small>(170x170)</small></h4>
                  <div class="row">
                    <div class="col">
                      <img src="https://via.placeholder.com/170x170">
                    </div>
                    <div class="col">
                      <p>Use in Product / Part badge.</p>
                    </div>
                  </div>
                  <hr>
                  <h4>Image preview small <small>(115x115)</small></h4>
                  <div class="row">
                    <div class="col">
                      <img src="https://via.placeholder.com/115x115">
                    </div>
                    <div class="col">
                      <p>Use in Product Detail carousel part image preview.</p>
                    </div>
                  </div>
                  <hr>
                  <h4>Image preview extra small <small>(30x30)</small></h4>
                  <div class="row">
                    <div class="col">
                      <img src="https://via.placeholder.com/30x30">
                    </div>
                    <div class="col">
                      <p>Use in product / part lists. For example:</p>
                      <ul>
                        <li>Open Order items list</li>
                        <li>Review Order items list</li>
                        <li>Part search results list</li>
                        <li>Product / Part Badge angle image preview</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Alerts -->
              <div class="card mb-5">
                <div class="card-header">
                  <h3 class="display-4">Alerts</h3>
                </div>
                
                <div class="card-body">
                  <h4>Default alerts</h4>
                  <div class="row">
                    <div class="col">
                      <div class="alert alert-info" role="alert">
                        A simple info alert—check it out!
                      </div>
                      <div class="alert alert-success" role="alert">
                        A simple success alert—check it out!
                      </div>
                      <div class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                      </div>
                      <div class="alert alert-warning" role="alert">
                        A simple warning alert—check it out!
                      </div>
                    </div>
                    <div class="col">
                      <p>Use it to display alert, info, and warning blocks. For example:</p>
                      <ul>
                        <li>List of applied programs in Order Details</li>
                        <li>List of available backorders in order review</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
              
              