
  <!-- Desktop - Table View -->
  <div class="d-none d-md-block">

    <ng-container *ngIf="!isEditWarehouseMode">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Part #</th>
            <th scope="col">Quantity</th>
            <th scope="col">Availability</th>
            <th scope="col th-lg">Comment</th>
            <th scope="col">Brand</th>
            <th scope="col th-lg">Description</th>
            <th scope="col">Added By</th>
            <th scope="col">UOM</th>
            <th scope="col" class="text-right">Dealer Price</th>
            <th scope="col" class="text-right">Dealer Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

        <tr>
              <th scope="row"><img src="https://via.placeholder.com/30x30"></th>
              <td>
                <a href="#">4121-9900</a>
              </td>
              <td>

                <select class="form-control form-control-sm">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </td>
              <td>Apply Pro
                  <ul class="d-flex flex-wrap list-unstyled mb-0">
                    <li class="pb-1 pr-1" *ngFor="let warehouseState of ['WI', 'NV', 'TX', 'XY', 'ZZ']">{{warehouseState}} 20+</li>
                  </ul>
              </td>
              <td>
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="" aria-describedby="basic-addon1">
                <small id="basic-addon1" class="form-text text-muted">0/250 characters</small>
              </td>
              <td>
                <p>Icon</p>
              </td>
              <td>
                <p><a href="#">HELMET AIRFRAME RETRO</a></p>
              </td>

              <td><p>USER2</p></td>
              <td><p>each</p></td>
              <td><p class="font-family-monospace text-right">$200</p></td>
              <td><p class="font-family-monospace text-right">$800</p></td>
              <td> <a href="#">Delete</a></td>
          </tr>
          <tr>
              <th scope="row"><img src="https://via.placeholder.com/30x30"></th>
              <td>
                  <a href="#">4121-9900</a>
              </td>
              <td>

                  <select class="form-control form-control-sm">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </td>
              <td>
                  <ul class="d-flex flex-wrap list-unstyled mb-0">
                    <li class="pb-1 pr-2" *ngFor="let warehouseState of ['WI', 'NV', 'TX', 'XY', 'ZZ']">{{warehouseState}} 10</li>
                  </ul>
              </td>
              <td>
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="" aria-describedby="basic-addon1">
                <small id="basic-addon1" class="form-text text-muted">0/250 characters</small>
              </td>
              <td>
                <p>Icon</p>
              </td>
              <td>
                <p><a href="#">HELMET AIRFRAME RETRO</a></p>
              </td>

              <td><p>USER1</p></td>
              <td><p>each</p></td>
              <td><p class="font-family-monospace text-right">$200</p></td>
              <td><p class="font-family-monospace text-right">$1200</p></td>
              <td><a href="#">Delete</a></td>
          </tr>

          <tr class="table-danger">
              <th scope="row"><img src="https://via.placeholder.com/30x30"></th>
              <td>
                <a href="#">0101-2340</a>
                <small id="basic-addon1" class="form-text text-info"><span class="icon-add"></span> Info label</small>
                <small id="basic-addon1" class="form-text text-danger"><span class="icon-add"></span> Danger label</small>
                <small id="basic-addon1" class="form-text text-warning"><span class="icon-add"></span> Warning label</small>
              </td>
              <td>

                <select class="form-control form-control-sm">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </td>
              <td>
                  <ul class="d-flex flex-wrap list-unstyled mb-0">
                    <li class="pb-1 pr-2 text-muted" *ngFor="let warehouseState of ['WI', 'NV', 'TX', 'XY', 'ZZ']">{{warehouseState}} 0</li>
                  </ul>
              </td>
              <td>
                <input class="form-control form-control-sm is-invalid" type="text" placeholder="" aria-label="" aria-describedby="basic-addon1">
                <!-- invalid feedback replaces text-muted here-->
                <small id="basic-addon1" class="form-text invalid-feedback">0/250 characters</small>

              </td>
              <td>
                <p>Icon</p>
              </td>
              <td>
                <p><a href="#">HELMET AIRFRAME RETRO</a></p>
              </td>

              <td><p>USER1</p></td>
              <td><p>each</p></td>
              <td><p class="font-family-monospace text-right">$200</p></td>
              <td><p class="font-family-monospace text-right">$1200</p></td>
              <td> <a href="#">Delete</a></td>
          </tr>


        </tbody>
      </table>
    </ng-container>


    <ng-container *ngIf="isEditWarehouseMode">


      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col th-lg">Part #</th>
            <th scope="col">Brand</th>
            <th scope="col th-lg">Description</th>
            <th scope="col">Weight (lbs.)</th>
            <th scope="col">Qty</th>
            <th scope="col">
                WI - <span class="font-family-mono">$500.00</span>
               <br/>
               <span><i class="icon-add"></i><a href="#"> Order all from WI</a></span>
            </th>
            <th scope="col">
              NV - <span class="font-family-mono">$500.00</span>
             <br/>
             <span><i class="icon-add"></i><a href="#"> Order all from NV</a></span>
            </th>
            <th scope="col">
                TX - <span class="font-family-mono">$500.00</span>
               <br/>
               <span><i class="icon-add"></i><a href="#"> Order all from TX</a></span>
            </th>
            <th scope="col">
                NV - <span class="font-family-mono">$500.00</span>
               <br/>
               <span><i class="icon-add"></i><a href="#"> Order all from NV</a></span>
            </th>
            <th scope="col">
                TX - <span class="font-family-mono">$500.00</span>
               <br/>
               <span><i class="icon-add"></i><a href="#"> Order all from TX</a></span>
            </th>
          </tr>
        </thead>
        <tbody>

        <tr *ngFor="let line of [1, 2, 3]">
              <th scope="row"><img src="https://via.placeholder.com/30x30"></th>
              <td>
                <a href="#">4121-9900</a>
              </td>
              <td>
                Dunlop
              </td>
              <td>
                TIRE DM1155 70/100-19
              </td>
              <td>
                 75.7
              </td>
              <td class="text-right">
                1
              </td>
              <td>
                  <div class="input-group">
                      <select class="form-control form-control-sm">
                          <option selected>0</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>

                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button"><i class="icon-add m-0"></i></button>
                      </div>
                  </div>
                  <small>20+ Available</small>
              </td>
              <td>
                  <div class="input-group">
                      <select class="form-control form-control-sm">
                          <option selected>0</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>

                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button"><i class="icon-add m-0"></i></button>
                      </div>
                  </div>
                  <small>20+ Available</small>
              </td>
              <td>
                  <div class="input-group">
                      <select class="form-control form-control-sm">
                          <option selected>0</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>

                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button"><i class="icon-add m-0"></i></button>
                      </div>
                  </div>
                  <small>20+ Available</small>
              </td>
              <td>
                  <div class="input-group">
                      <select class="form-control form-control-sm">
                          <option selected>0</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>

                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button"><i class="icon-add m-0"></i></button>
                      </div>
                  </div>
                  <small>20+ Available</small>
              </td>
              <td>
                  <div class="input-group">
                      <select class="form-control form-control-sm">
                          <option selected>0</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>

                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button"><i class="icon-add m-0"></i></button>
                      </div>
                  </div>
                  <small>20+ Available</small>
              </td>

        </tr>

          <tr>
            <td colspan="6"></td>
            <td class="text-info font-family-mono text-right">WI Total<br>$5000</td>
            <td class="text-info font-family-mono text-right">NV Total<br>$1500</td>
            <td class="text-info font-family-mono text-right">TX Total<br>$5000</td>
            <td class="text-info font-family-mono text-right">NV Total<br>$2200</td>
            <td class="text-info font-family-mono text-right">TX Total<br>$5000</td>
          </tr>



        </tbody>
      </table>
    </ng-container>

  </div>

  <!-- Mobile - Part Card View -->
  <ul class="d-sm-block d-md-none list-unstyled">
      <li *ngFor="let card of [1,2,3,4]">
          <app-part-card-mobile></app-part-card-mobile>
        </li>
  </ul>



        <!-- Order Totals-->
        <table class="float-right table table-row-no-border w-25">
            <tbody>
              <tr>
                <th scope="row" class="text-muted">Merchandise Total</th>
                <td colspan="2" class="font-family-monospace text-right">$4992.00</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Freight</th>
                <td class="font-family-monospace text-right">$5.40</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Dropship Fee</th>
                <td class="font-family-monospace text-right">$10.00</td>
              </tr>
              <tr class="border-top">
                <th scope="row" class="text-muted">Order Total</th>
                <td class="font-family-monospace text-right">$5007.40</td>
              </tr>
            </tbody>
        </table>


  <div class="subsection" *ngIf="isEditWarehouseMode">
      <div class=" d-flex">
          <button class="btn btn-white ml-auto">Cancel</button>
          <button class="btn btn-secondary ml-2">Update Warehouse</button>
      </div>
  </div>


