@import '../../styles/custom-variables.scss';

.img-fluid {
	width: 100%;
}

.btn-toggle-collapse {
	.show-more {	display: none; }
	.show-less { display: block; }
	&.collapsed {
		.show-more {	display: block; }
		.show-less { display: none; }
	}		
}

// .table-sm {
// 	.tr-highlight {
// 		// background-color: lighten($smoke, 20%);
// 		background-color: $fog;
// 	}
// 	.td-subtext {
// 		padding-top: 0;
// 	}
// 	> thead > tr > th {
// 		background-color: transparent;
// 	}
// 	> tbody > tr > td{
// 		border: 0;
// 	}
// 	> tfoot > tr > td {
// 		padding: 10px 0 0;
// 		border: 0;
// 	}
// }
// .table-striped > tbody > tr:nth-of-type(even) {
// 	// background-color: lighten($smoke, 20%);
// 	background-color: $fog;
// }
// .table-striped > tbody > tr:nth-of-type(odd) {
// 	background-color: transparent;
// }

h5 {
	display: inline;
}

// .table tr {
// 	line-height: 16px;
// }

// .table-row-offset {
// 	margin-right: -10px;
// }

// img {
// 	box-shadow: 1px 1px 3px $smoke;
// }

// img:hover {
// 	box-shadow: 2px 2px 6px $smoke;
// 	transition: all 0.3s ease-in-out;
// }

img {
    border: solid $border-width $border-color;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 6px $smoke;
}

// .orders-and-specials {
// 	background-color: $white;
// 	margin-left: -5px;
// 	padding-left: 10px;
// 	margin-bottom: -20px;
// 	margin-right: 18px;
// 	margin-top: 23px;
// }

.orders-and-specials-two {
	background-color: $white;
}

.dashboard-color {
	background-color: rgba(239, 239, 239, 0.4);
	margin: -20px;
	padding: 20px;
}

.btn-weird {
	margin-top: -6px;
}

.card-order {
	padding: 15px;
	margin-bottom: 15px;
	margin-right: -10px;
	margin-left: -10px;
}

.card-order:hover {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 2px 2px 6px $smoke;
}

.table-top {
	padding-bottom: 0;
}

.table-bottom {
	padding-top: 0;
}