<!-- <section>
	<div class="card border-0">
		<div class="card-header border">
		<h3 class="display-4">Dashboard</h3>
		</div>
		<div class="card-body px-0">
		<div class="dashboard">
			<div class="row">
				<div class="col-9 mb-2">
					<button class="btn btn-primary mr-3">Open Orders</button>
					<button class="btn btn-primary mr-3">Submitted Orders</button>
					<button class="btn btn-primary">Back Orders</button>
				</div>
				<div class="col-3">
					<button class="float-right btn btn-warning btn-raised">Create New Order</button>
				</div>
			</div>
			<div *ngIf="featuredProducts as featuredProducts">
				<div class="row">
					<div *ngFor="let product of featuredProducts | slice:0:5" class="col-sm-3">
						<img [src]="product" class="img-fluid my-2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col mt-2 mb-1 orders-and-specials-two">
					<h1 class="mb-3 font-weight-bolder">Your Orders and Specials</h1>
					<div class="row">
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="d-flex justify-content-between mb-1">
									<h4 class="mb-0 font-weight-bold">Open Orders</h4>
									<button class="float-right btn btn-warning btn-sm">
										Create New Order
									</button>
								</div>
								<table class="table table-sm mb-4">
									<tbody>
										<ng-template ngFor let-order let-i="index" [ngForOf]="openOrders | slice:0:5">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top"><a>{{order.poNumber}}</a></td>
												<td class="text-right td-top" colspan="2"> -->
													<!-- <span>{{order.dealer | currency:'USD':'symbol':'.2'}}</span> -->
													<!-- <span>{{order.retail | currency:'USD':'symbol':'.2'}}</span>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light" colspan="3">
													<span *ngIf="order.orderTitle">{{order.orderTitle}}</span>
													Created: {{order.createdAt | date:'M/d/yyyy'}} by {{order.createdBy}}
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3">
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
											<td></td>
										</tr>
									</tfoot>
								</table>
								<div class="mb-1">
									<h4 class="mb-0 font-weight-bold">Submitted Orders</h4>
								</div>				
								<table class="table table-sm mb-4">
									<tbody>
										<ng-template ngFor let-order let-i="index" [ngForOf]="submittedOrders | slice:0:5">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top"><a>{{order.poNumber}}</a></td>
												<td class="d-none d-xl-table-cell td-top">{{order.createdBy}}</td>
												<td class="text-right td-top"> -->
													<!-- <span *ngIf="(displayDealerPrice$ | async)">{{order.orderTotals.total.dealer | currency:'USD':'symbol':'.2'}}</span> -->
													<!-- <span>{{order.retail | currency:'USD':'symbol':'.2'}}</span>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td colspan="3" class="td-bottom font-weight-light">
													<span *ngIf="order.orderTitle">{{order.orderTitle}}</span>
													Created: {{order.createdAt | date:'M/d/yyyy'}}
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3">
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
											<td></td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-1">
									<h4 class="mb-0 font-weight-bold">Available Backorders</h4>
								</div>
								<table class="table table-sm mb-4">
									<tbody>
										<ng-template ngFor let-backorder let-i="index" [ngForOf]="backOrders | slice:0:5">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">{{backorder.partNumber}}</td> -->
												<!-- <td>{{backorder.warehouseInventory?.warehouseId}}</td> -->
												<!-- <td class="td-top">{{backorder.quantity}}</td>
												<td class="td-top text-right">{{(backorder.quantity * backorder.price) | currency:'USD':'symbol':'.2'}}</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light" colspan="4">
													Submitted: {{backorder.submittedAt | date:'M/d/yyyy'}}
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3">
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
											<td></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="w-100">
									<h4 class="mb-0 font-weight-bold">Monthly Specials</h4>
								</div>
								<table class="table table-sm table-striped mb-4">
									<tbody *ngIf="monthlySpecials as monthlySpecials">
										<tr *ngFor="let monthlySpecial of monthlySpecials | slice:0:6">
											<td>
												<a>{{monthlySpecial.name}}</a>
											</td>
											<td class="text-right td-top">{{monthlySpecial.percentage}}%</td>
										</tr>
									</tbody>
									<tbody *ngIf="monthlySpecials as monthlySpecials" id="monthly-specials-collapse" class="collapse">
										<tr *ngFor="let monthlySpecial of monthlySpecials | slice:6">
											<td>
												<a>{{monthlySpecial.name}}</a>
											</td>
											<td class="text-right td-bottom">{{monthlySpecial.percentage}}%</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td class="">
												<small class="table-row-offset">** indicates items with no additional discounts</small>
											</td>
										</tr>
										<tr>
											<td colspan="3">
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
											<td></td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-1">
									<h4 class="mb-0 font-weight-bold">New Programs</h4>
								</div>
								<table class="table table-sm mb-4">
									<tbody *ngFor="let program of newPrograms | slice:0:5; let i = index">
										<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
											<td class="td-top">
												<a>{{program.programName}}</a><br>
											</td>
										</tr>
										<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
											<td class="td-bottom font-weight-light">
												{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
											</td>
										</tr>
									</tbody>
									<tbody id="new-programs-collapse" class="collapse" *ngFor="let program of newPrograms | slice:4; let i = index">
										<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
											<td class="td-top">
												<a>{{program.programName}}</a><br>
											</td>
										</tr>
										<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
											<td class="td-bottom font-weight-light">
												{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<a href="#new-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-1">
									<h4 class="mb-0 font-weight-bold">Programs Ending Soon</h4>
								</div>
								<table class="table table-sm mb-4">
									<tbody *ngFor="let program of expiringPrograms | slice:0:5; let i = index">
										<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
											<td class="td-top">
												<a>{{program.programName}}</a><br>
											</td>
										</tr>
										<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
											<td class="td-bottom font-weight-light">
												{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
											</td>
										</tr>
									</tbody>
									<tbody *ngFor="let program of expiringPrograms | slice:4; let i = index" id="expiring-programs-collapse" class="collapse">
										<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
											<td class="td-top">
												<a>{{program.programName}}</a><br>
											</td>
										</tr>
										<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
											<td class="td-bottom font-weight-light">
												{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<a  href="#expiring-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()"
												data-toggle="collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-1">
									<h4 class="mb-0 font-weight-bold">Cummulative Programs</h4>
								</div>
								<table class="table table-sm table-striped mb-4">
									<tbody *ngIf="cummulativePrograms as cummulativePrograms">
										<tr *ngFor="let program of cummulativePrograms | slice:0:6">
											<td>
												<a>{{program.name}}</a>
											</td>
										</tr>
									</tbody>
									<tbody *ngIf="cummulativePrograms as cummulativePrograms" id="cummulative-programs-collapse" class="collapse">
										<tr *ngFor="let program of cummulativePrograms | slice:6">
											<td>
												<a>{{program.name}}</a>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td class="">
												<a *ngIf="cummulativePrograms.length > 5" href="#cummulative-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cummulative-programs-collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col pt-3">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div *ngIf="nutsAndNotes as nutsAndNotes">
								<img *ngFor="let note of nutsAndNotes" [src]="note" class="img-fluid mb-4">
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div *ngIf="legal as legal">
								<img *ngFor="let item of legal" [src]="item" class="img-fluid mb-4">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>

<section>
	<div class="card border-0">
		<div class="card-header border">
		<h3 class="display-4">Dashboard</h3>
		</div>
		<div class="card-body px-0">
		<div class="dashboard">
			<div class="row">
				<div class="col-9 mb-2">
					<button class="btn btn-primary mr-3">Open Orders</button>
					<button class="btn btn-primary mr-3">Submitted Orders</button>
					<button class="btn btn-primary">Back Orders</button>
				</div>
				<div class="col-3">
					<button class="float-right btn btn-warning btn-raised">Create New Order</button>
				</div>
			</div>
			<div *ngIf="featuredProducts as featuredProducts">
				<div class="row">
					<div *ngFor="let product of featuredProducts | slice:0:5" class="col-sm-3">
						<img [src]="product" class="img-fluid my-2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col mt-2 mb-1 orders-and-specials-two"> -->
					<!-- <h1 class="mb-3 font-weight-bolder">Your Orders and Specials</h1> -->
					<!-- <div class="row">
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="card card-order">
									<div class="d-flex justify-content-between mb-1">
										<h4 class="mb-0 font-weight-bold">Open Orders</h4>
										<button class="float-right btn btn-warning btn-sm">
											Create New Order
										</button>
									</div>
									<table class="table table-sm mb-4">
										<tbody>
											<ng-template ngFor let-order let-i="index" [ngForOf]="openOrders | slice:0:5">
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-top"><a>{{order.poNumber}}</a></td>
													<td class="text-right td-top" colspan="2"> -->
														<!-- <span>{{order.dealer | currency:'USD':'symbol':'.2'}}</span> -->
														<!-- <span>{{order.retail | currency:'USD':'symbol':'.2'}}</span>
													</td>
												</tr>
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-bottom font-weight-light" colspan="3">
														<span *ngIf="order.orderTitle">{{order.orderTitle}}</span>
														Created: {{order.createdAt | date:'M/d/yyyy'}} by {{order.createdBy}}
													</td>
												</tr>
											</ng-template>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3">
													<button href="#" class="btn btn-sm btn-primary">View all</button>
												</td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="mb-1">
										<h4 class="mb-0 font-weight-bold">Submitted Orders</h4>
									</div>				
									<table class="table table-sm mb-4">
										<tbody>
											<ng-template ngFor let-order let-i="index" [ngForOf]="submittedOrders | slice:0:5">
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-top"><a>{{order.poNumber}}</a></td>
													<td class="d-none d-xl-table-cell td-top">{{order.createdBy}}</td>
													<td class="text-right td-top"> -->
														<!-- <span *ngIf="(displayDealerPrice$ | async)">{{order.orderTotals.total.dealer | currency:'USD':'symbol':'.2'}}</span> -->
														<!-- <span>{{order.retail | currency:'USD':'symbol':'.2'}}</span>
													</td>
												</tr>
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td colspan="3" class="td-bottom font-weight-light">
														<span *ngIf="order.orderTitle">{{order.orderTitle}}</span>
														Created: {{order.createdAt | date:'M/d/yyyy'}}
													</td>
												</tr>
											</ng-template>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3">
													<button href="#" class="btn btn-sm btn-primary">View all</button>
												</td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="w-100 mb-1">
										<h4 class="mb-0 font-weight-bold">Available Backorders</h4>
									</div>
									<table class="table table-sm mb-4">
										<tbody>
											<ng-template ngFor let-backorder let-i="index" [ngForOf]="backOrders | slice:0:5">
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-top">{{backorder.partNumber}}</td> -->
													<!-- <td>{{backorder.warehouseInventory?.warehouseId}}</td> -->
													<!-- <td class="td-top">{{backorder.quantity}}</td>
													<td class="td-top text-right">{{(backorder.quantity * backorder.price) | currency:'USD':'symbol':'.2'}}</td>
												</tr>
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-bottom font-weight-light" colspan="4">
														Submitted: {{backorder.submittedAt | date:'M/d/yyyy'}}
													</td>
												</tr>
											</ng-template>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3">
													<button href="#" class="btn btn-sm btn-primary">View all</button>
												</td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="card card-order">
									<div class="w-100">
										<h4 class="mb-0 font-weight-bold">Monthly Specials</h4>
									</div>
									<table class="table table-sm table-striped mb-4">
										<tbody *ngIf="monthlySpecials as monthlySpecials">
											<tr *ngFor="let monthlySpecial of monthlySpecials | slice:0:6">
												<td>
													<a>{{monthlySpecial.name}}</a>
												</td>
												<td class="text-right td-top">{{monthlySpecial.percentage}}%</td>
											</tr>
										</tbody>
										<tbody *ngIf="monthlySpecials as monthlySpecials" id="monthly-specials-collapse" class="collapse">
											<tr *ngFor="let monthlySpecial of monthlySpecials | slice:6">
												<td>
													<a>{{monthlySpecial.name}}</a>
												</td>
												<td class="text-right td-bottom">{{monthlySpecial.percentage}}%</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td class="">
													<small class="table-row-offset">** indicates items with no additional discounts</small>
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<button href="#" class="btn btn-sm btn-primary">View all</button>
												</td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="w-100 mb-1">
										<h4 class="mb-0 font-weight-bold">New Programs</h4>
									</div>
									<table class="table table-sm mb-4">
										<tbody *ngFor="let program of newPrograms | slice:0:5; let i = index">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">
													<a>{{program.programName}}</a><br>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</td>
											</tr>
										</tbody>
										<tbody id="new-programs-collapse" class="collapse" *ngFor="let program of newPrograms | slice:4; let i = index">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">
													<a>{{program.programName}}</a><br>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td>
													<a href="#new-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse">
														<span class="show-more">Show more [+]</span>
														<span class="show-less">Show less [-]</span>
													</a>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="w-100 mb-1">
										<h4 class="mb-0 font-weight-bold">Programs Ending Soon</h4>
									</div>
									<table class="table table-sm mb-4">
										<tbody *ngFor="let program of expiringPrograms | slice:0:5; let i = index">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">
													<a>{{program.programName}}</a><br>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</td>
											</tr>
										</tbody>
										<tbody *ngFor="let program of expiringPrograms | slice:4; let i = index" id="expiring-programs-collapse" class="collapse">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">
													<a>{{program.programName}}</a><br>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td>
													<a  href="#expiring-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()"
													data-toggle="collapse">
														<span class="show-more">Show more [+]</span>
														<span class="show-less">Show less [-]</span>
													</a>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="w-100 mb-1">
										<h4 class="mb-0 font-weight-bold">Cummulative Programs</h4>
									</div>
									<table class="table table-sm table-striped mb-4">
										<tbody *ngIf="cummulativePrograms as cummulativePrograms">
											<tr *ngFor="let program of cummulativePrograms | slice:0:6">
												<td>
													<a>{{program.name}}</a>
												</td>
											</tr>
										</tbody>
										<tbody *ngIf="cummulativePrograms as cummulativePrograms" id="cummulative-programs-collapse" class="collapse">
											<tr *ngFor="let program of cummulativePrograms | slice:6">
												<td>
													<a>{{program.name}}</a>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td class="">
													<a *ngIf="cummulativePrograms.length > 5" href="#cummulative-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cummulative-programs-collapse">
														<span class="show-more">Show more [+]</span>
														<span class="show-less">Show less [-]</span>
													</a>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col pt-3">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div *ngIf="nutsAndNotes as nutsAndNotes">
								<img *ngFor="let note of nutsAndNotes" [src]="note" class="img-fluid mb-4">
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div *ngIf="legal as legal">
								<img *ngFor="let item of legal" [src]="item" class="img-fluid mb-4">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>

<section>
	<div class="card border-0">
		<div class="card-header border">
		<h3 class="display-4">Dashboard</h3>
		</div>
		<div class="card-body px-0">
		<div class="dashboard">
			<div class="row">
				<div class="col-9 mb-2">
					<button class="btn btn-primary mr-3">Open Orders</button>
					<button class="btn btn-primary mr-3">Submitted Orders</button>
					<button class="btn btn-primary">Back Orders</button>
				</div>
				<div class="col-3">
					<button class="float-right btn btn-warning btn-raised">Create New Order</button>
				</div>
			</div>
			<div *ngIf="featuredProducts as featuredProducts">
				<div class="row">
					<div *ngFor="let product of featuredProducts | slice:0:5" class="col-sm-3">
						<img [src]="product" class="img-fluid my-2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-9 mt-2 mb-1 orders-and-specials-two"> -->
					<!-- <h1 class="mb-3 font-weight-bolder">Your Orders and Specials</h1> -->
					<!-- <div class="row">
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="card card-order">
									<div class="d-flex justify-content-between mb-1">
										<h4 class="mb-0 font-weight-bold">Open Orders</h4>
										<button class="float-right btn btn-warning btn-sm">
											Create New Order
										</button>
									</div>
									<table class="table table-sm mb-4">
										<tbody>
											<ng-template ngFor let-order let-i="index" [ngForOf]="openOrders | slice:0:5">
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-top"><a>{{order.poNumber}}</a></td>
													<td class="text-right td-top" colspan="2"> -->
														<!-- <span>{{order.dealer | currency:'USD':'symbol':'.2'}}</span> -->
														<!-- <span>{{order.retail | currency:'USD':'symbol':'.2'}}</span>
													</td>
												</tr>
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-bottom font-weight-light" colspan="3">
														<span *ngIf="order.orderTitle">{{order.orderTitle}}</span>
														Created: {{order.createdAt | date:'M/d/yyyy'}} by {{order.createdBy}}
													</td>
												</tr>
											</ng-template>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3">
													<button href="#" class="btn btn-sm btn-primary">View all</button>
												</td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="mb-1">
										<h4 class="mb-0 font-weight-bold">Submitted Orders</h4>
									</div>				
									<table class="table table-sm mb-4">
										<tbody>
											<ng-template ngFor let-order let-i="index" [ngForOf]="submittedOrders | slice:0:5">
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-top"><a>{{order.poNumber}}</a></td>
													<td class="d-none d-xl-table-cell td-top">{{order.createdBy}}</td>
													<td class="text-right td-top">
														<span *ngIf="(displayDealerPrice$ | async)">{{order.orderTotals.total.dealer | currency:'USD':'symbol':'.2'}}</span> -->
														<!-- <span>{{order.retail | currency:'USD':'symbol':'.2'}}</span>
													</td>
												</tr>
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td colspan="3" class="td-bottom font-weight-light">
														<span *ngIf="order.orderTitle">{{order.orderTitle}}</span>
														Created: {{order.createdAt | date:'M/d/yyyy'}}
													</td>
												</tr>
											</ng-template>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3">
													<button href="#" class="btn btn-sm btn-primary">View all</button>
												</td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="w-100 mb-1">
										<h4 class="mb-0 font-weight-bold">Available Backorders</h4>
									</div>
									<table class="table table-sm mb-4">
										<tbody>
											<ng-template ngFor let-backorder let-i="index" [ngForOf]="backOrders | slice:0:5">
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-top">{{backorder.partNumber}}</td> -->
													<!-- <td>{{backorder.warehouseInventory?.warehouseId}}</td> -->
													<!-- <td class="td-top">{{backorder.quantity}}</td>
													<td class="td-top text-right">{{(backorder.quantity * backorder.price) | currency:'USD':'symbol':'.2'}}</td>
												</tr>
												<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
													<td class="td-bottom font-weight-light" colspan="4">
														Submitted: {{backorder.submittedAt | date:'M/d/yyyy'}}
													</td>
												</tr>
											</ng-template>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3">
													<button href="#" class="btn btn-sm btn-primary">View all</button>
												</td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="card card-order">
									<div class="w-100">
										<h4 class="mb-0 font-weight-bold">Monthly Specials</h4>
									</div>
									<table class="table table-sm table-striped mb-4">
										<tbody *ngIf="monthlySpecials as monthlySpecials">
											<tr *ngFor="let monthlySpecial of monthlySpecials | slice:0:6">
												<td>
													<a>{{monthlySpecial.name}}</a>
												</td>
												<td class="text-right td-top">{{monthlySpecial.percentage}}%</td>
											</tr>
										</tbody>
										<tbody *ngIf="monthlySpecials as monthlySpecials" id="monthly-specials-collapse" class="collapse">
											<tr *ngFor="let monthlySpecial of monthlySpecials | slice:6">
												<td>
													<a>{{monthlySpecial.name}}</a>
												</td>
												<td class="text-right td-bottom">{{monthlySpecial.percentage}}%</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td class="">
													<small class="table-row-offset">** indicates items with no additional discounts</small>
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<button href="#" class="btn btn-sm btn-primary">View all</button>
												</td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="w-100 mb-1">
										<h4 class="mb-0 font-weight-bold">New Programs</h4>
									</div>
									<table class="table table-sm mb-4">
										<tbody *ngFor="let program of newPrograms | slice:0:5; let i = index">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">
													<a>{{program.programName}}</a><br>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</td>
											</tr>
										</tbody>
										<tbody id="new-programs-collapse" class="collapse" *ngFor="let program of newPrograms | slice:4; let i = index">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">
													<a>{{program.programName}}</a><br>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td>
													<a href="#new-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse">
														<span class="show-more">Show more [+]</span>
														<span class="show-less">Show less [-]</span>
													</a>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="w-100 mb-1">
										<h4 class="mb-0 font-weight-bold">Programs Ending Soon</h4>
									</div>
									<table class="table table-sm mb-4">
										<tbody *ngFor="let program of expiringPrograms | slice:0:5; let i = index">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">
													<a>{{program.programName}}</a><br>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</td>
											</tr>
										</tbody>
										<tbody *ngFor="let program of expiringPrograms | slice:4; let i = index" id="expiring-programs-collapse" class="collapse">
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-top">
													<a>{{program.programName}}</a><br>
												</td>
											</tr>
											<tr [ngClass]="{'tr-highlight': i%2 !== 1}">
												<td class="td-bottom font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td>
													<a  href="#expiring-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()"
													data-toggle="collapse">
														<span class="show-more">Show more [+]</span>
														<span class="show-less">Show less [-]</span>
													</a>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="card card-order">
									<div class="w-100 mb-1">
										<h4 class="mb-0 font-weight-bold">Cummulative Programs</h4>
									</div>
									<table class="table table-sm table-striped mb-4">
										<tbody *ngIf="cummulativePrograms as cummulativePrograms">
											<tr *ngFor="let program of cummulativePrograms | slice:0:6">
												<td>
													<a>{{program.name}}</a>
												</td>
											</tr>
										</tbody>
										<tbody *ngIf="cummulativePrograms as cummulativePrograms" id="cummulative-programs-collapse" class="collapse">
											<tr *ngFor="let program of cummulativePrograms | slice:6">
												<td>
													<a>{{program.name}}</a>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td class="">
													<a *ngIf="cummulativePrograms.length > 5" href="#cummulative-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cummulative-programs-collapse">
														<span class="show-more">Show more [+]</span>
														<span class="show-less">Show less [-]</span>
													</a>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3 pt-3">
					<div class="row">
						<div class="col-sm-12 col-md-12">
							<div *ngIf="nutsAndNotes as nutsAndNotes">
								<img *ngFor="let note of nutsAndNotes" [src]="note" class="img-fluid mb-4">
							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<div *ngIf="legal as legal">
								<img *ngFor="let item of legal" [src]="item" class="img-fluid mb-4">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section> -->

<section>
	<div class="card border-0">
		<div class="card-header border">
		<h3 class="display-4">Dashboard</h3>
		</div>
		<div class="card-body px-0">
		<div class="dashboard">
			<div class="d-none d-lg-block">
				<div class="row mb-2">
					<div class="col-sm-6 col-lg-7">
						<button class="btn btn-primary mr-3">View Open Orders</button>
						<button class="btn btn-primary mr-3">View Submitted Orders</button>
						<button class="btn btn-primary">View Back Orders</button>
					</div>
					<div class="col-sm-6 col-lg-5">
						<button class="float-right ml-3 btn btn-warning">Create New Order</button>
						<button class="float-right btn btn-light">Import Order</button>
					</div>
				</div>
			</div>
			<div *ngIf="featuredProducts as featuredProducts">
				<div class="row">
					<div *ngFor="let product of featuredProducts | slice:0:5" class="col-sm-3">
						<img [src]="product" class="img-fluid my-2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 mt-2 mb-1 orders-and-specials-two">
					<h1 class="mb-3 font-weight-bolder">Your Orders and Specials</h1>
					<div class="row">
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="d-flex justify-content-between mb-2">
									<h4 class="mb-0 font-weight-bold">Open Orders</h4>
									<button class="float-right btn btn-warning btn-sm">
										Create New Order
									</button>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<ng-template ngFor let-order let-i="index" [ngForOf]="openOrders | slice:0:5">
											<tr>
												<td class="w-100">
													<a href="#">{{order.poNumber}}</a>
													<!-- <span>{{order.dealer | currency:'USD':'symbol':'.2'}}</span> -->
													<span class="float-right">{{order.retail | currency:'USD':'symbol':'.2'}}</span>
													<br/>
													<span class="td-bottom font-weight-light" colspan="3">
														<!-- <span *ngIf="order.orderTitle">{{order.orderTitle}}</span> -->
														Created: {{order.createdAt | date:'M/d/yyyy'}} by {{order.createdBy}}
													</span>
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="mb-2">
									<h4 class="mb-0 font-weight-bold">Submitted Orders</h4>
								</div>				
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<ng-template ngFor let-order let-i="index" [ngForOf]="submittedOrders | slice:0:5">
											<tr>
												<td>
													<a href="#">{{order.poNumber}}</a>
													{{order.createdBy}}
													<!-- <span *ngIf="(displayDealerPrice$ | async)">{{order.orderTotals.total.dealer | currency:'USD':'symbol':'.2'}}</span> -->
													<span class="float-right">{{order.retail | currency:'USD':'symbol':'.2'}}</span>
													<br/>
													<span class="font-weight-light">
														<!-- <span *ngIf="order.orderTitle">{{order.orderTitle}}</span> -->
														Created: {{order.createdAt | date:'M/d/yyyy'}}
													</span>
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">Available Backorders</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<ng-template ngFor let-backorder let-i="index" [ngForOf]="backOrders | slice:0:5">
											<tr>
												<td>
													<a href="#">{{backorder.partNumber}}</a>
													<!-- <td>{{backorder.warehouseInventory?.warehouseId}}</td> -->
													{{backorder.quantity}}
													<span class="float-right">{{(backorder.quantity * backorder.price) | currency:'USD':'symbol':'.2'}}</span>
													<br/>
													<span class="font-weight-light">
														Submitted: {{backorder.submittedAt | date:'M/d/yyyy'}}
													</span>
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">Monthly Specials</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody *ngIf="monthlySpecials as monthlySpecials">
										<tr *ngFor="let monthlySpecial of monthlySpecials | slice:0:5">
											<td>
												<a>{{monthlySpecial.name}}</a>
												<span class="float-right">{{monthlySpecial.percentage}}%</span>
											</td>
										</tr>
									</tbody>
									<tbody *ngIf="monthlySpecials as monthlySpecials" id="monthly-specials-collapse" class="collapse">
										<tr *ngFor="let monthlySpecial of monthlySpecials | slice:6">
											<td>
												<a>{{monthlySpecial.name}}</a>
												<span class="float-right">{{monthlySpecial.percentage}}%</span>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<small>** indicates items with no additional discounts</small>
												<button href="#" class="mt-2 btn btn-sm btn-primary">View all</button>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">New Programs</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<tr *ngFor="let program of newPrograms | slice:0:5; let i = index">
											<td>
												<a href="#">{{program.programName}}</a><br/>
												<span class="font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</span>
											</td>
										</tr>
										<tr id="new-programs-collapse" class="collapse" *ngFor="let program of newPrograms | slice:5; let i = index">
											<td>
												<a href="#">{{program.programName}}</a><br/>
												<span class="font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</span>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<a href="#new-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">Programs Ending Soon</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<tr *ngFor="let program of expiringPrograms | slice:0:5; let i = index">
											<td>
												<a href="#">{{program.programName}}</a><br/>
												<span class="font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</span>
											</td>
										</tr>
										<tr id="expiring-programs-collapse" class="collapse" *ngFor="let program of expiringPrograms | slice:5; let i = index">
											<td>
												<a href="#">{{program.programName}}</a><br/>
												<span class="font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</span>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<a  href="#expiring-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()"
												data-toggle="collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">Cummulative Programs</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody *ngIf="cummulativePrograms as cummulativePrograms">
										<tr *ngFor="let program of cummulativePrograms | slice:0:5">
											<td>
												<a>{{program.name}}</a>
											</td>
										</tr>
										<tr id="cummulative-programs-collapse" class="collapse" *ngFor="let program of cummulativePrograms | slice:5">
											<td>
												<a>{{program.name}}</a>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td class="">
												<a *ngIf="cummulativePrograms.length > 5" href="#cummulative-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cummulative-programs-collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 pt-3">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div *ngIf="nutsAndNotes as nutsAndNotes">
								<img *ngFor="let note of nutsAndNotes" [src]="note" class="img-fluid mb-4">
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div *ngIf="legal as legal">
								<img *ngFor="let item of legal" [src]="item" class="img-fluid mb-4">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>

<section>
	<div class="card border-0">
		<div class="card-header border">
		<h3 class="display-4">Dashboard</h3>
		</div>
		<div class="card-body px-0">
		<div class="dashboard">
			<div class="d-none d-lg-block">
				<div class="row mb-2">
					<div class="col-sm-6 col-lg-7">
						<button class="btn btn-primary mr-3">View Open Orders</button>
						<button class="btn btn-primary mr-3">View Submitted Orders</button>
						<button class="btn btn-primary">View Back Orders</button>
					</div>
					<div class="col-sm-6 col-lg-5">
						<button class="float-right ml-3 btn btn-warning">Create New Order</button>
						<button class="float-right btn btn-light">Import Order</button>
					</div>
				</div>
			</div>
			<div *ngIf="featuredProducts as featuredProducts">
				<div class="row">
					<div *ngFor="let product of featuredProducts | slice:0:5" class="col-sm-3">
						<img [src]="product" class="img-fluid my-2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-9 mt-3 mb-1 orders-and-specials-two">
					<h1 class="mb-2 font-weight-bolder">Your Orders and Specials</h1>
					<div class="row">
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="d-flex justify-content-between mb-2">
									<h4 class="mb-0 font-weight-bold">Open Orders</h4>
									<button class="float-right btn btn-warning btn-sm">
										Create New Order
									</button>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<ng-template ngFor let-order let-i="index" [ngForOf]="openOrders | slice:0:5">
											<tr>
												<td class="w-100">
													<a href="#">{{order.poNumber}}</a>
													<!-- <span>{{order.dealer | currency:'USD':'symbol':'.2'}}</span> -->
													<span class="float-right">{{order.retail | currency:'USD':'symbol':'.2'}}</span>
													<br/>
													<span class="td-bottom font-weight-light" colspan="3">
														<span *ngIf="order.orderTitle">{{order.orderTitle}}</span>
														Created: {{order.createdAt | date:'M/d/yyyy'}} by {{order.createdBy}}
													</span>
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="mb-2">
									<h4 class="mb-0 font-weight-bold">Submitted Orders</h4>
								</div>				
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<ng-template ngFor let-order let-i="index" [ngForOf]="submittedOrders | slice:0:5">
											<tr>
												<td>
													<a href="#">{{order.poNumber}}</a>
													{{order.createdBy}}
													<!-- <span *ngIf="(displayDealerPrice$ | async)">{{order.orderTotals.total.dealer | currency:'USD':'symbol':'.2'}}</span> -->
													<span class="float-right">{{order.retail | currency:'USD':'symbol':'.2'}}</span>
													<br/>
													<span class="font-weight-light">
														<span *ngIf="order.orderTitle">{{order.orderTitle}}</span>
														Created: {{order.createdAt | date:'M/d/yyyy'}}
													</span>
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">Available Backorders</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<ng-template ngFor let-backorder let-i="index" [ngForOf]="backOrders | slice:0:5">
											<tr>
												<td>
													<a href="#">{{backorder.partNumber}}</a>
													<!-- <td>{{backorder.warehouseInventory?.warehouseId}}</td> -->
													{{backorder.quantity}}
													<span class="float-right">{{(backorder.quantity * backorder.price) | currency:'USD':'symbol':'.2'}}</span>
													<br/>
													<span class="font-weight-light">
														Submitted: {{backorder.submittedAt | date:'M/d/yyyy'}}
													</span>
												</td>
											</tr>
										</ng-template>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<button href="#" class="btn btn-sm btn-primary">View all</button>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 mt-2">
							<div class="overview-table">
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">Monthly Specials</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody *ngIf="monthlySpecials as monthlySpecials">
										<tr *ngFor="let monthlySpecial of monthlySpecials | slice:0:5">
											<td>
												<a>{{monthlySpecial.name}}</a>
												<span class="float-right">{{monthlySpecial.percentage}}%</span>
											</td>
										</tr>
									</tbody>
									<tbody *ngIf="monthlySpecials as monthlySpecials" id="monthly-specials-collapse" class="collapse">
										<tr *ngFor="let monthlySpecial of monthlySpecials | slice:6">
											<td>
												<a>{{monthlySpecial.name}}</a>
												<span class="float-right">{{monthlySpecial.percentage}}%</span>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<button href="#" class="btn btn-sm btn-primary">View all</button>
												<small class="float-right">** indicates items with no additional discounts</small>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">New Programs</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<tr *ngFor="let program of newPrograms | slice:0:5; let i = index">
											<td>
												<a href="#">{{program.programName}}</a><br/>
												<span class="font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</span>
											</td>
										</tr>
										<tr id="new-programs-collapse" class="collapse" *ngFor="let program of newPrograms | slice:5; let i = index">
											<td>
												<a href="#">{{program.programName}}</a><br/>
												<span class="font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</span>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<a href="#new-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">Programs Ending Soon</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody>
										<tr *ngFor="let program of expiringPrograms | slice:0:5; let i = index">
											<td>
												<a href="#">{{program.programName}}</a><br/>
												<span class="font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</span>
											</td>
										</tr>
										<tr id="expiring-programs-collapse" class="collapse" *ngFor="let program of expiringPrograms | slice:5; let i = index">
											<td>
												<a href="#">{{program.programName}}</a><br/>
												<span class="font-weight-light">
													{{ program.startDate | date:'M/d/yyyy'}} - {{ program.endDate | date:'M/d/yyyy'}}
												</span>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>
												<a  href="#expiring-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()"
												data-toggle="collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
								<div class="w-100 mb-2">
									<h4 class="mb-0 font-weight-bold">Cummulative Programs</h4>
								</div>
								<table class="table table-striped table-hover mb-5">
									<tbody *ngIf="cummulativePrograms as cummulativePrograms">
										<tr *ngFor="let program of cummulativePrograms | slice:0:5">
											<td>
												<a>{{program.name}}</a>
											</td>
										</tr>
										<tr id="cummulative-programs-collapse" class="collapse" *ngFor="let program of cummulativePrograms | slice:5">
											<td>
												<a>{{program.name}}</a>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td class="">
												<a *ngIf="cummulativePrograms.length > 5" href="#cummulative-programs-collapse" class="btn-toggle-collapse collapsed" (click)="$event.preventDefault()" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cummulative-programs-collapse">
													<span class="show-more">Show more [+]</span>
													<span class="show-less">Show less [-]</span>
												</a>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-3 pt-3">
					<div class="row">
						<div class="col-sm-12 col-md-12">
							<div *ngIf="nutsAndNotes as nutsAndNotes">
								<img *ngFor="let note of nutsAndNotes" [src]="note" class="img-fluid mb-4">
							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<div *ngIf="legal as legal">
								<img *ngFor="let item of legal" [src]="item" class="img-fluid mb-4">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
	