<div class="d-none d-sm-block">
    <div class="range-scroll">
        <div class="scroller scroll-panel">
            <div (wheel)="detectScrollSpot()" (touchmove)="detectScrollSpot()" class="scroll-content d-flex flex-row align-items-center" id="scrolling-container" #scrollWindow>
                <li class="carousel-item" *ngFor="let image of images">
                    <img class="img-fluid" src="{{image}}" alt="{{image}}">
                </li>
            </div>
        </div>
    </div>
    <form class="rangeSlider">
        <div class="d-flex flex-row align-items-center">
            <div class="">
                <button class="btn btn-white" (click)="slideLeft()"><span class="icon-chevron-left scroller-chevron"aria-hidden="true"></span></button>
            </div>
            <div class="scroll-width">
                <input class="scroll-range" type="range" min="0" max="100" value="0" (change)="scrollRangeUpdate($event.target.value)" (input)="scrollRangeUpdate($event.target.value)" #range>
            </div>
            <div class="">
                <button class="btn btn-white" (click)="slideRight()"><span class="icon-chevron-right scroller-chevron"aria-hidden="true"></span></button>
            </div>
        </div>
    </form>
</div>
<div class="d-block d-sm-none">
    <div id="carouselProduct" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner carousel-inner-home d-flex">
            <div *ngFor="let image of images; let isFirst = first" class="carousel-item" [ngClass]="{'active': isFirst}">
                <img class="d-block w-50 mx-auto" src="{{image}}" alt="{{image}}">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselProduct" role="button" data-slide="prev">
            <button class="btn btn-white">
                <span class="icon-chevron-left scroller-chevron" data-slide="next" aria-hidden="true"></span>
            </button>
        </a>
        <a class="carousel-control-next" href="#carouselProduct" role="button" data-slide="next">
            <button class="btn btn-white">
                <span class="icon-chevron-right scroller-chevron" data-slide="next" aria-hidden="true"></span>
            </button>
        </a>
    </div>
</div>

