<h2 class="display-3" id="organisms">Organisms</h2>


<div class="card mb-5">
  <div class="card-header">
    <h3 class="display-4">Lists</h3>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col">

        <div class="mb-2">
          <h2 class="title-2">Warehouse Availability list</h2>

          <div style="max-width: 100px">
            <ul class="d-flex flex-wrap list-unstyled mb-0">
              <li class="pb-1 pr-1" *ngFor="let warehouseState of ['WI', 'NV', 'TX', 'XY', 'ZZ']">{{warehouseState}}
                20+</li>
            </ul>

          </div>

        </div>

        <div class="mb-2">
          <h2 class="title-2">Icon List</h2>
          <ul class="icon-list list-unstyled">
            <li>
              <span class="text-danger icon-warning"></span> List item icon warning
            </li>
            <li>
              <span class="text-primary icon-add"></span> List item icon add
            </li>
          </ul>
        </div>


      </div>

      <div class="col">

        <p>Used for listing the available warehouses</p>

        <div class="alert alert-warning">
          Add the following classes to the &lt;ul&gt; element
          <ul>
            <li>
              .d-flex
            </li>
            <li>
              .flex-wrap
            </li>
            <li>
              .list-unstyled
            </li>
          </ul>
        </div>

        <div class="alert alert-warning">
          Add the following classes to the &lt;li&gt; element
          <ul>
            <li>
              .pb-1
            </li>
            <li>
              .pr-1
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>


<div class="card mb-5">
  <div class="card-header">
    <h3 class="display-4">Header</h3>
  </div>
  <div class="card-body">
    <app-navbar-header></app-navbar-header>
    <nav class="navbar navbar-category navbar-expand-lg">
      <ul class="navbar-nav mr-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-none d-md-block" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop by Category
          </a>
          <!-- Trigger navbar category menu modal -->
          <a class="nav-link d-md-none" data-toggle="modal" data-target="#navbarCategoryMenuModal">
            Shop >
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">New</a></li>
            <li>
              <a class="dropdown-item dropdown-toggle" href="#">Parts</a>
              <div class="dropdown-menu dropdown-menu-submenu" aria-labelledby="navbarDropdown">
                <p><a href="#">Shop all Parts</a></p>
                <div class="row">
                  <div class="col">
                    <ul class="list-unstyled">
                      <li>
                        <h3 class="title-3 mb-2">Street</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                      <li>
                        <h3 class="title-3 mb-2">Motocross</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                      <li>
                        <h3 class="title-3 mb-2">ATV-UTV</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="list-unstyled">
                      <li>
                        <h3 class="title-3 mb-2">Watercraft</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                      <li>
                        <h3 class="title-3 mb-2">Watercraft</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                      <li>
                        <h3 class="title-3 mb-2">Snow</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="list-unstyled">
                      <li>
                        <h3 class="title-3 mb-2">Watercraft</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                      <li>
                        <h3 class="title-3 mb-2">Watercraft</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                      <li>
                        <h3 class="title-3 mb-2">Snow</h3>
                        <ul class="list-unstyled mb-4">
                          <li><a href="#">Ignition</a></li>
                          <li><a href="#">Lighting</a></li>
                          <li><a href="#">Electronics</a></li>
                          <li><a href="#">Accesories</a></li>
                          <li><a href="#">Batteries</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col">

                  </div>
                </div>
              </div>
            </li>
            <li>
              <a class="dropdown-item" href="#">Tires</a>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" href="#">Apparel</a>
              <ul class="dropdown-menu dropdown-menu-submenu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">More Action 2</a></li>
                <li><a class="dropdown-item" href="#">MOre Another action 2</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" href="#">Helmets</a>
              <ul class="dropdown-menu dropdown-menu-submenu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">More Action 2</a></li>
                <li><a class="dropdown-item" href="#">MOre Another action 2</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" href="#">Women's</a>
              <ul class="dropdown-menu dropdown-menu-submenu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">More Action 2</a></li>
                <li><a class="dropdown-item" href="#">MOre Another action 2</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" href="#">Shop by Brand</a>
              <ul class="dropdown-menu dropdown-menu-submenu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">More Action 2</a></li>
                <li><a class="dropdown-item" href="#">MOre Another action 2</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Closeout</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="form-inline flex-fill flex-nowrap">
        <input class="form-control mr-2 flex-fill" type="search" placeholder="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </nav>

    <!-- Mobile Category Navigatino-->
    <div class="modal modal-navbar-category left fade" id="navbarCategoryMenuModal" tabindex="-1" role="dialog"
      aria-labelledby="navbarCategoryMenuModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="btn btn-link btn-sm btn-back">
              < Back</button> <h5 class="modal-title ml-auto">
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="icon-clear"></span>
                </button>
          </div>
          <div class="modal-body">
            <nav class="navbar navbar-category-mobile">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Parts</a>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Part sublevel</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Part sublevel</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Part sublevel dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Part sublevel</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Part sublevel</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Parts2</a>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Part sublevel</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Part sublevel</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Part sublevel dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Part sublevel</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Part sublevel</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h3 class="display-4">Modal</h3>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>
        <!-- Button trigger modal from left -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalFromLeft">
          Launch demo modal from left
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="icon-clear"></span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure that you would like to do that?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal from Left-->
        <div class="modal left fade" id="exampleModalFromLeft" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalFromLeftLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFromLeftLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="icon-clear"></span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure that you would like to do that?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h3 class="display-4">Vertical Spacing</h3>
  </div>

  <div class="card-body">
    <section>
      <div class="row">
        <div class="col">
          <section class="subsection">
            <h1 class="title-1">1st Major Section (.title-1) </h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
          </section>
        </div>

        <div class="col">
          <section class="subsection">
            <p>Used to vertically layout and split up sections of a page. There are two types of sections in our
              application:</p>
            <ul>
              <li>&lt;section&gt; is for major sections that contain one or many subsections. For example: "major"
                sections such as New products, Closeout, etc on the landing pages.</li>
              <li>&lt;section class="subsection"&gt; is for subsections within content. For example: content divided
                into groups.&lt;/section&gt;</li>
            </ul>
          </section>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <section class="subsection">
            <h2 class="title-2">Subsection 1 (.title-2)</h2>
            <p>Content within this section.</p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <section class="subsection">
            <h2 class="title-2">Subsection 2 (.title-2)</h2>
            <p>Content within this section.</p>
          </section>
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col">
          <section class="subsection">
            <h1 class="title-1">2nd Major Section (.title-1) </h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
          </section>
        </div>

        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col">
          <section class="subsection">
            <h2 class="title-2">Subsection 3 (.title-2)</h2>
            <p>Content within this section.</p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <section class="subsection">
            <h2 class="title-2">Subsection 4 (.title-2)</h2>
            <p>Content within this section.</p>
          </section>
        </div>
      </div>
    </section>

  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h3 class="display-4">Form Table</h3>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <table class="table table-striped table-hover d-none d-lg-block">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Column n</th>
              <th scope="col">Column n + 1</th>
              <th scope="col">Column n + 2</th>
              <th scope="col">Column n + 3</th>
              <th scope="col">Column n + 4</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><img src="https://via.placeholder.com/30x30"></th>
              <td>Mark</td>
              <td>Otto</td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>
              <td> <button class="btn btn-white btn-sm" data-toggle="popover" data-trigger="focus">Delete</button>
              </td>
            </tr>
            <tr>
              <th scope="row"><img src="https://via.placeholder.com/30x30"></th>
              <td>
                Mark
                <small id="basic-addon1" class="form-text"><span class="icon-add text-info"></span> Info label</small>
                <small id="basic-addon1" class="form-text"><span class="icon-add text-danger"></span> Danger
                  label</small>
                <small id="basic-addon1" class="form-text"><span class="icon-add text-warning"></span> Warning
                  label</small>
              </td>
              <td>Otto</td>
              <td>
                <input class="form-control form-control-sm is-valid" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
                <div class="valid-feedback">Looks good!</div>
              </td>
              <td>
                <input class="form-control form-control-sm is-invalid" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
                <div class="invalid-feedback">Please provide a valid value.</div>
              </td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
                <small id="basic-addon1" class="form-text text-muted">0/250 characters</small>
              </td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
                <small id="basic-addon1" class="form-text text-muted">0/250 characters</small>
              </td>

              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
                <small id="basic-addon1" class="form-text text-muted">0/250 characters</small>
              </td>
              <td>
                <button class="btn btn-white btn-sm" data-toggle="popover" data-trigger="focus">Delete</button>
              </td>
            </tr>
            <tr class="table-danger" data-toggle="tooltip" data-placement="top"
              title="There is an issue with this line item. Please delete it.">
              <th scope="row"><img src="https://via.placeholder.com/30x30"></th>
              <td>Mark</td>
              <td>Otto</td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1"></td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>
              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>

              <td><input class="form-control form-control-sm" type="text" placeholder="" aria-label=""
                  aria-describedby="basic-addon1">
              </td>
              <td>
                <button class="btn btn-white btn-sm" data-toggle="popover" data-trigger="focus">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="alert alert-warning">NOTE: Hide this table on small screens. This table is used for iPad devices
          breakpoints
          (medium breakpoint and above), not mobile. Mobile has its own table design. </p>
      </div>
    </div>

    <hr>

    <!-- <app-order-header></app-order-header> -->


    <p class="alert alert-warning">NOTE: The Part Card is only shown on mobile</p>

  </div>

</div>


<section class="subsection">

  <div class="row d-flex align-items-baseline">
    <div class="col">
      <h1 class="title-1"><span class="text-muted">Order Detail - </span>1203189db2</h1>
    </div>

    <div class="col d-flex align-items-baseline">
      <button class="btn btn-white float-right ml-auto">Delete Order</button>
      <button class="btn btn-light bg-lighter float-right ml-2">Set as Current Order</button>
      <button class="btn btn-warning float-right ml-4">Start Checkout <span class="icon-arrow"></span></button>
    </div>
  </div>
  <div class="alert alert-danger mb-0" role="alert" data-toggle="tooltip" data-placement="top"
    title="Programs cannot be applied to dropship programs. Please remove it.">
    Please Correct the following to place this dropship order.
    <ul class="mb-0">
      <li>Remove Truck Only Parts</li>
      <li>Remove all programs</li>
      <li>Remove all x</li>
    </ul>
  </div>
</section>

<section class="subsection">
  <!-- <app-order-header (toggleShowManageWarehouseTable)="listenToggleShowManageWarehouseTable($event)"></app-order-header> -->
</section>

<hr *ngIf="!isEditWarehouseMode">

<div class="my-1" *ngIf="!isEditWarehouseMode">


  <ul class="list-unstyled">
    <li *ngFor="let appliedProgram of ['a']">
      <div class="alert alert-info d-flex align-items-center my-0 w-100" role="alert">
        <span>DATING: Dating Program Integration Test (PROGRAMCODE01)</span>
        <button class="btn btn-sm btn-light ml-auto" data-toggle="tooltip" data-placement="top"
          title="Programs cannot be applied to dropship programs. Please remove it.">Remove Program</button>
      </div>
    </li>
  </ul>



</div>

<hr *ngIf="!isEditWarehouseMode">


<div class="my-1" *ngIf="!isEditWarehouseMode">
  <form class="form-inline">

    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Part #">

    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" placeholder="Enter Quantity">

    <button type="submit" class="btn btn-secondary mb-2">Add Part <span class="icon-add"></span></button>
  </form>
</div>

<section>
  <!-- <app-order-parts-table [isEditWarehouseMode]="isEditWarehouseMode"></app-order-parts-table> -->

  <div *ngIf="!isEditWarehouseMode">

    <button class="btn btn-warning float-right ml-4">Start Checkout <span class="icon-arrow"></span></button>

  </div>
</section>

<section>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="display-4">Orders Table</h3>
    </div>
    <div class="card-body d-sm-none">
      <div class="row">
        <button [ngClass]="(!isMergeMode)? 'col-sm-4 btn btn-primary' : 'col-sm-4 btn btn-white'"
          (click)="listenToggleMergeOrders(false)">Open Orders List</button>
        <button [ngClass]="(isMergeMode)? 'col-sm-4 btn btn-primary' : 'col-sm-4 btn btn-white'"
          (click)="listenToggleMergeOrders(true)">Merge Orders</button>
        <button class="col-sm-4 btn btn-light">Create New Order</button>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title float-right"><span class="title-3">MSRP Total: </span><span>$12.34</span></h5>
          <h5 class="card-title"><span class="title-3">PO #: </span><span>987654321</span></h5>
          <h5 class="card-title"><span class="title-3">Order Name: </span><span>Mary Sue</span></h5>
          <h5 class="card-title"><span class="title-3">Date Created: </span><span>9/03/2019</span></h5>
          <h5 class="card-title"><span class="title-3">Contact: </span><span>Andrew</span></h5>
          <h5 class="card-title"><span class="title-3">Added By: </span><span>Samantha</span></h5>
          <h5 class="card-title"><span class="title-3">Items: </span><span>3</span></h5>
          <div *ngIf="!isMergeMode" class="float-right">
            <button class="btn btn-light">View Order</button>
            <button class="btn btn-white">Delete</button>
          </div>
          <div *ngIf="isMergeMode" class="float-right">
            <div class="form-check text-center">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Merge Order
              </label>
            </div>
            <br>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
                disabled>
              <label class="form-check-label" for="defaultCheck1">
                Target Order
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body d-none d-sm-block">
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a [ngClass]="(!isMergeMode)? 'active nav-link' : 'nav-link'"
                (click)="listenToggleMergeOrders(false)">Open Orders List</a>
            </li>
            <li class="nav-item">
              <a [ngClass]="(isMergeMode)? 'active nav-link' : 'nav-link'" (click)="listenToggleMergeOrders(true)">Merge
                Orders</a>
            </li>
            <li class="ml-auto pr-2">
              <button class="btn btn-sm btn-primary">Create New Order</button>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <ng-container *ngIf="isMergeMode">
              <th scope="col">Merge Orders</th>
              <th scope="col">Target Order</th>
            </ng-container>
            <th scope="col">PO #</th>
            <th scope="col">Order Name</th>
            <th scope="col">Date Created</th>
            <th scope="col">Contact</th>
            <th scope="col">Added By</th>
            <th scope="col">Items</th>
            <th scope="col">MSRP Total</th>
            <ng-container *ngIf="!isMergeMode">
              <th scope="col"></th>
              <th scope="col"></th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <ng-container *ngIf="isMergeMode">
              <th scope="col">
                <div class="form-check text-center"><input class="form-check-input" type="checkbox" value=""
                    id="defaultCheck1"></div>
              </th>
              <th scope="col">
                <div class="form-check text-center disabled"><input class="form-check-input" type="radio"
                    name="exampleRadios" id="exampleRadios3" value="option3" disabled></div>
              </th>
            </ng-container>
            <td class="align-middle" scope="row"><a href="#">0308195a49</a></td>
            <td class="align-middle"><a href="#">Mark</a></td>
            <td class="align-middle">3/8/2019</td>
            <td class="align-middle">Adam</td>
            <td class="align-middle">Mary</td>
            <td class="align-middle">2</td>
            <td class="align-middle">$86.90</td>
            <ng-container *ngIf="!isMergeMode">
              <td class="align-middle"><button class="btn btn-light">View Order</button></td>
              <td class="align-middle"><button class="btn btn-white">Delete</button></td>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngIf="isMergeMode">
              <th scope="col">
                <div class="form-check text-center"><input class="form-check-input" type="checkbox" value=""
                    id="defaultCheck1"></div>
              </th>
              <th scope="col">
                <div class="form-check text-center disabled"><input class="form-check-input" type="radio"
                    name="exampleRadios" id="exampleRadios3" value="option3" disabled></div>
              </th>
            </ng-container>
            <td class="align-middle" scope="row"><a href="#">0308195a49</a></td>
            <td class="align-middle"><a href="#">Mark</a></td>
            <td class="align-middle">3/8/2019</td>
            <td class="align-middle">Adam</td>
            <td class="align-middle">Mary</td>
            <td class="align-middle">2</td>
            <td class="align-middle">$86.90</td>
            <ng-container *ngIf="!isMergeMode">
              <td class="align-middle"><button class="btn btn-light">View Order</button></td>
              <td class="align-middle"><button class="btn btn-white">Delete</button></td>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngIf="isMergeMode">
              <th scope="col">
                <div class="form-check text-center"><input class="form-check-input" type="checkbox" value=""
                    id="defaultCheck1"></div>
              </th>
              <th scope="col">
                <div class="form-check text-center disabled"><input class="form-check-input" type="radio"
                    name="exampleRadios" id="exampleRadios3" value="option3" disabled></div>
              </th>
            </ng-container>
            <td class="align-middle" scope="row"><a href="#">0308195a49</a></td>
            <td class="align-middle"><a href="#">Mark</a></td>
            <td class="align-middle">3/8/2019</td>
            <td class="align-middle">Adam</td>
            <td class="align-middle">Mary</td>
            <td class="align-middle">2</td>
            <td class="align-middle">$86.90</td>
            <ng-container *ngIf="!isMergeMode">
              <td class="align-middle"><button class="btn btn-light">View Order</button></td>
              <td class="align-middle"><button class="btn btn-white">Delete</button></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="display-4">Hero Carousel</h3>
    </div>
    <div class="card-body">
      <app-carousel-hero></app-carousel-hero>
    </div>
  </div>
</section>

<section>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="display-4">Product/Brand Carousel</h3>
    </div>
    <div class="card-body">
      <app-carousel-product></app-carousel-product>
    </div>
  </div>
</section>

<section>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="display-4">Part Badge</h3>
    </div>
    <div class="card-body">
      <h4>Grid View</h4>
      <div class="row">
        <div class="col-xs-6 col-md-3 mb-4">
          <app-part-badge [layout]="'grid'" [isPartInCurrentOrder]="true"></app-part-badge>
        </div>
        <div class="col-xs-6 col-md-3 mb-4">
          <app-part-badge [layout]="'grid'" [partStatus]="'closeout'"></app-part-badge>
        </div>
        <div class="col-xs-6 col-md-3 mb-4">
          <app-part-badge [layout]="'grid'" [partStatus]="'discontinued'"></app-part-badge>
        </div>
        <div class="col-xs-6 col-md-3 mb-4">
          <app-part-badge [layout]="'grid'" [partStatus]="'new'" [isPartInCurrentOrder]="true"></app-part-badge>
        </div>
      </div>
      <hr class="mb-5">
      <h4>List View</h4>
      <div class="mb-4">
        <app-part-badge [layout]="'list'" [isPartInCurrentOrder]="true"></app-part-badge>
      </div>
      <div class="mb-4">
        <app-part-badge [layout]="'list'" [partStatus]="'closeout'"></app-part-badge>
      </div>
      <div class="mb-4">
        <app-part-badge [layout]="'list'" [partStatus]="'discontinued'"></app-part-badge>
      </div>
      <div class="mb-4">
        <app-part-badge [layout]="'list'" [partStatus]="'new'" [isPartInCurrentOrder]="true"></app-part-badge>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="display-4">Bike Builds - Navigation</h3>
    </div>
    <div class="card-body px-0">
      <app-bike-build-navigation [bikeBuild]="bikeBuilds[0]"></app-bike-build-navigation>
      <app-bike-build-navigation [bikeBuild]="bikeBuilds[1]"></app-bike-build-navigation>
    </div>
  </div>
</section>
<section>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="display-4">Bike Builds - Bike Summary</h3>
    </div>
    <div class="card-body px-0">
      <ng-container *ngFor="let bikeBuild of bikeBuilds">
        <app-bike-summary [bikeBuild]="bikeBuild"></app-bike-summary>
      </ng-container>
    </div>
  </div>
</section>
