<section>
  <div class="card mb-5 border-0">
    <div class="card-header border">
      <h3 class="display-4">Package Feedback</h3>
    </div>
    <div class="card-body px-0">
      <div class="row mb-4">
        <div class="col-5">
          <div class="form-group mb-2">
            <label for="exampleFormControlSelect1">Select Invoice</label>
            <select class="form-control">
              <option>05-YY916 [PSSS000707]</option>
              <option>01-YY916 [PSSS000617]</option>
              <option>02-YY916 [PSSS000237]</option>
              <option>03-YY916 [PSSS000147]</option>
              <option>04-YY916 [PSSS000457]</option>
            </select>
          </div>
        </div>
        <div class="col-8 mt-2">
          <p>
            Your feedback is extremely important. Telling us about your experience, good or bad, means that we can better understand what is important to you, what we are doing well and areas we can improve upon. We may need to contact you for additional information based on your feedback.
          </p>
        </div>
      </div>
      <h2 class="title-2 pl-3">Tracking Number</h2>  
      <div class="row">
        <div *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]; let i = index" class="col-md-10 accordion">
          <div class="card">
              <div class="card-header" id="{{i}}">
                <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" attr.data-target="#collapse2{{i}}"
                aria-expanded="false" aria-controls="1">
                  12192837485743974
                </button>
              </div>
            
              <div id="collapse2{{i}}" class="collapse" attr.aria-labelledby="collapse2{{i}}" data-parent="">
                <div class="card-body">
                  <h2 class="title-2">Package Information</h2>
                  <form [formGroup]="form2">
                    <div class="form-group">
                      <label class="star-label">Package Rating<span class="text-danger"> *</span></label>
                      <div class="form-group rate">
                        <input type="radio" id="star5" name="stars2" value="5" formControlName="stars2" required/>
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="stars2" value="4" formControlName="stars2"/>
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="stars2" value="3" formControlName="stars2"/>
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="stars2" value="2" formControlName="stars2"/>
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="stars2" value="1" formControlName="stars2"/>
                        <label for="star1" title="text">1 star</label>
                      </div>
                      <div class="form-group">
                        <div class="form-label w-50">
                          <label for="exampleFormControlSelect1">Explanation</label>
                          <select class="form-control">
                            <option>Damaged box</option>
                            <option>Damaged item</option>
                            <option>Defective item</option>
                            <option>Heavy/Fragile items in same box</option>
                            <option>Extra product</option>
                            <option>Mixed up shipments</option>
                            <option>Package put on wrong carrier truck</option>
                            <option>Package sent to wrong hub</option>
                            <option>Poor packing</option>
                            <option>Strength of box is weak</option>
                            <option>Self ship items not repacked</option>
                            <option>Wasted space</option>
                            <option>Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comment</label>
                        <textarea class="form-control" rows="5"></textarea>
                      </div>
                    </div>
                    
                    <div class="form-group w-50">
                      <label>Parts Affected</label>
                      <div class="parts-affected overflow-auto">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part1">
                          <label class="form-check-label" for="part1">
                            1283929203850
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part2">
                          <label class="form-check-label" for="part2">
                            7676445645234
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part3">
                          <label class="form-check-label" for="part3">
                            5432632635346
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part4">
                          <label class="form-check-label" for="part4">
                            6432623455234
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part1">
                          <label class="form-check-label" for="part1">
                            1283929203850
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part2">
                          <label class="form-check-label" for="part2">
                            7676445645234
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part3">
                          <label class="form-check-label" for="part3">
                            5432632635346
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part4">
                          <label class="form-check-label" for="part4">
                            6432623455234
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part1">
                          <label class="form-check-label" for="part1">
                            1283929203850
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part1">
                          <label class="form-check-label" for="part1">
                            1283929203850
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part1">
                          <label class="form-check-label" for="part1">
                            1283929203850
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="part1">
                          <label class="form-check-label" for="part1">
                            1283929203850
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="mt-5 mb-5">
                      <h2 class="title-2">Image Upload</h2>
                      <!-- <div *ngIf="(adminDealerPermission$ | async)" class=""> -->
                        <!-- <form [formGroup]="imageUploadForm" (ngSubmit)="handleImageUploadFormOnSubmit()" > -->
                        <form>
                          <!-- <fieldset [disabled]="imageUploadForm.disabled"> -->
                          <fieldset>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleFormControlFile1">Select an image</label>
                                <input accept="image/*" type="file" class="form-control-file" id="exampleFormControlFile1">
                              </div>
                              <div class="form-group">
                                <label for="">Image Type</label>
                                <select class="form-control">
                                  <option>asdf</option>
                                  <!-- <option *ngFor="let imageTypeCode of imageTypeCodes" value="{{imageTypeCode}}">{{getImageTypeCodeName(imageTypeCode)}}</option> -->
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="">Image Description</label>
                                <input type="text" class="form-control">
                              </div>
                            </div>
                          </div>
                            <ul class="list-unstyled">
                              <li><strong>Accepted File Types:</strong> JPEG, PNG, GIF.</li>
                              <li><strong>Image Dimensions:</strong> Height: 100px to 2000px; Width: 100px to 2000px.</li>
                              <li><strong>Image Content:</strong> For images to be approved, they must be relevant to the Dealership's business.</li>
                            </ul>
                            <!-- <button type="submit" class="btn btn-warning" [disabled]="imageUploadForm.invalid">Upload Image</button> -->
                          </fieldset>
                        </form>
                      </div>
                      <div class="mt-4">
                        <!-- Dealer images table -->
                        <!-- <ng-container *ngIf="dealerImages?.length > 0; else youHaveNoSavedImages"> -->
                          <table class="table mt-4">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Image Type</th>
                                <th>Date Uploaded</th>
                                <th>Uploaded By</th>
                                <th>Status</th>
                                <th>Description</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <img [src]="'https://picsum.photos/100'" [alt]="" decoding="async">
                                </td>
                                <!-- <td>{{ getImageTypeCodeName(image.imageTypeCode )}}</td> -->
                                <td>image type code</td>
                                <!-- <td>{{ image.createdAt | date:'M/d/yyyy' }}</td> -->
                                <td>5/19/19</td>
                                <!-- <td>{{ image.createdBy }}</td> -->
                                <td>Freddy</td>
                                <!-- <td>{{ image.imageStatusCode }}</td> -->
                                <td>status</td>
                                <!-- <td>{{ image.dealerImageDesc }}</td> -->
                                <td>image description</td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-white">
                                    Delete
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <img [src]="'https://picsum.photos/100'" [alt]="" decoding="async">
                                </td>
                                <!-- <td>{{ getImageTypeCodeName(image.imageTypeCode )}}</td> -->
                                <td>image type code</td>
                                <!-- <td>{{ image.createdAt | date:'M/d/yyyy' }}</td> -->
                                <td>5/19/19</td>
                                <!-- <td>{{ image.createdBy }}</td> -->
                                <td>Freddy</td>
                                <!-- <td>{{ image.imageStatusCode }}</td> -->
                                <td>status</td>
                                <!-- <td>{{ image.dealerImageDesc }}</td> -->
                                <td>image description</td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-white">
                                    Delete
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                      <!-- </ng-container> -->
                      </div>
                      <div class="mt-2">
                        <button type="submit" class="btn btn-warning" [disabled]="form.invalid">Submit</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section> 
