.toggle-purchase-history {
  .show-purchase-history {
    display: none;
  }
  .hide-purchase-history {
    display: block;
  } 
  &.collapsed {
    .show-purchase-history {
      display: block;
    }
    .hide-purchase-history {
      display: none;
    }    
  }
}