<div *ngIf="layout === 'grid'" class="card part-badge part-badge-grid p-2 pt-4" [ngClass]="{'border-success': isPartInCurrentOrder}">
  <div *ngIf="partStatus" class="alert alert-ribbon" 
  [ngClass]="{
    'alert-primary': partStatus ==='new', 
    'alert-warning': partStatus ==='closeout', 
    'alert-danger': partStatus ==='discontinued'
  }">{{partStatus | uppercase}}</div>
  <h5 class="mb-0">0110-5586</h5>
  <p class="mb-0">THOR</p>
  <p class="text-muted text-truncate"><small>HLMT SEC SHEAR BK/AC XS</small></p>
  <p>
    <a href="#" data-toggle="modal" data-target="#examplePartBadgeModal">
      <img
        src="https://asset.lemansplatform.com/media/edge/8/3/A/83A91A0B-20D4-4E36-86D6-9EE1523C85A8.png?x=170&y=170&b=&t=image/jpeg"
        class="img-fluid mb-2" style="width: 100%">
    </a>
  </p>
  <p class="text-muted">Sector Helmet — Shear</p>

  <div class="row mb-3">
    <div class="col">
      <small class="text-muted">MSRP</small>
      <p class="mb-1 font-family-monospace">
        {{109.95 | currency:'USD':'symbol':'.2'}}
          <small class="text-muted text-line-through d-block">{{119.95 | currency:'USD':'symbol':'.2'}}</small>
      </p>
    </div>
    <div class="col-12">
      <div class="text-primary">
        <small>Your Price</small>
        <h4 class="mb-0 text-nowrap font-family-monospace">
          {{109.95 | currency:'USD':'symbol':'.2'}}
        </h4>
        <div class="strike-through-text">
            <small class="text-muted text-line-through d-block">{{119.95 | currency:'USD':'symbol':'.2'}}</small>
        </div>
      </div>
    </div>
  </div>

  <form class="mt-2 mb-4">
    <div class="form-row">
      <div class="col-auto">
        <div class="custom-control custom-checkbox mr-2">
          <input type="checkbox" class="custom-control-input" id="{{id}}">
          <label class="custom-control-label" for="{{id}}"></label>
        </div>
      </div>
      <div class="col">
        <input type="number" class="form-control form-control-sm" placeholder="Qty" value="0">
        <small class="form-text text-success">
          <span *ngIf="isPartInCurrentOrder"><i class="fas fa-check-circle"></i> Item in current order</span>
          <span *ngIf="!isPartInCurrentOrder">&nbsp;</span>
        </small>
      </div>
      <div class="col-auto">
        <span class="form-text">each</span>
      </div>
    </div>

  </form>
  <table class="table table-sm table-bordered text-center mb-3">
    <thead>
      <tr>
        <th scope="col">WI</th>
        <th scope="col">NY</th>
        <th scope="col">NC</th>
        <th scope="col">TX</th>
        <th scope="col">NV</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9+</td>
        <td>3</td>
        <td>n/a</td>
        <td>7</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-sm table-bordered text-center mb-1">
        <thead>
          <tr>
            <th scope="col">LY</th>
            <th scope="col">TY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9+</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>      
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-sm table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">PY90</th>
            <th>PY180</th>
            <th>REC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>7</td>
            <td>3</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ul class="icon-list list-unstyled">
    <li><span class="icon-information text-info"></span><small>Truck only.</small></li>
    <li><span class="icon-warning text-warning"></span><small>Advertising policy restrictions.</small></li>
    <li><span class="icon-blocker text-danger"></span><small>Part cannot be returned.</small></li>
  </ul>
  <a href data-toggle="modal" data-target="#examplePartBadgeModal">
    <u>See details</u>
  </a>
</div>

<div *ngIf="layout === 'list'" class="card part-badge part-badge-list p-2 pt-4" [ngClass]="{'border-success': isPartInCurrentOrder}">
  <div *ngIf="partStatus" class="alert alert-ribbon" [ngClass]="{
    'alert-primary': partStatus ==='new', 
    'alert-warning': partStatus ==='closeout', 
    'alert-danger': partStatus ==='discontinued'
  }">{{partStatus | uppercase}}</div>
  <div class="row">
    <div class="col-2">
      <form class="mt-2 mb-4">
        <div class="form-row">
          <div class="col-auto">
            <div class="custom-control custom-checkbox mr-2">
              <input type="checkbox" class="custom-control-input" id="{{id}}">
              <label class="custom-control-label" for="{{id}}"></label>
            </div>
          </div>
          <div class="col">
            <input type="number" class="form-control form-control-sm" placeholder="Qty" value="0">
            <div>each</div>
            <small class="form-text text-success">
              <span *ngIf="isPartInCurrentOrder"><i class="fas fa-check-circle"></i> Item in current order</span>
              <span *ngIf="!isPartInCurrentOrder">&nbsp;</span>
            </small>
          </div>

        </div>
      </form>
    </div>
    <div class="col-2">
      <a href="#" data-toggle="modal" data-target="#examplePartBadgeModal">
        <img
        src="https://asset.lemansplatform.com/media/edge/8/3/A/83A91A0B-20D4-4E36-86D6-9EE1523C85A8.png?x=175&y=175&b=&t=image/jpeg"
        class="img-fluid mb-2" style="width: 100%">
      </a>
    </div>
    <div class="col-2">
      <h5 class="mb-0">0110-5586</h5>
      <p class="mb-0">THOR</p>
      <p class="text-muted text-truncate"><small>HLMT SEC SHEAR BK/AC XS</small></p>
      <p class="text-muted">Sector Helmet — Shear</p>
      <a href data-toggle="modal" data-target="#examplePartBadgeModal">
        <u>See details</u>
      </a>
    </div>
    <div class="col-6">

      <div class="row text-right mb-2">
        <div class="col">
          <small class="text-muted">MSRP</small>
          <p class="mb-1 font-family-monospace">
            {{109.95 | currency:'USD':'symbol':'.2'}}
              <small class="text-muted text-line-through d-block">{{119.95 | currency:'USD':'symbol':'.2'}}</small>
          </p>
        </div>
        <div class="col">
          <div class="text-primary">
            <small>Your Price</small>
            <h4 class="mb-0 text-nowrap font-family-monospace">
              {{109.95 | currency:'USD':'symbol':'.2'}}
            </h4>
              <small class="text-muted text-line-through d-block">{{119.95 | currency:'USD':'symbol':'.2'}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-6"></div> -->
        <div class="col-12">
          <table class="table table-sm table-bordered text-center mb-2">
            <thead>
              <tr>
                <th scope="col">WI</th>
                <th scope="col">NY</th>
                <th scope="col">NC</th>
                <th scope="col">TX</th>
                <th scope="col">NV</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9+</td>
                <td>3</td>
                <td>n/a</td>
                <td>7</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 pr-1">
          <table class="table table-sm table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">LY</th>
                <th scope="col">TY</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9+</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col pl-0">
          <table class="table table-sm table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">PY90</th>
                <th scope="col">PY180</th>
                <th scope="col">REC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>7</td>
                <td>3</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 text-right">
          <ul class="list-unstyled list-inline">
            <li><span class="icon-information text-info mr-1"></span><small>Truck only.</small></li>
            <li><span class="icon-warning text-warning mr-1"></span><small>Advertising policy restrictions.</small></li>
            <li><span class="icon-blocker text-danger mr-1"></span><small>Part cannot be returned.</small></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="examplePartBadgeModal" tabindex="-1" role="dialog" aria-labelledby="examplePartBadgeModalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pb-lg-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-clear"></span>
        </button>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-12 col-lg-6">
            <section class="mb-0 mb-lg-4 d-lg-none">
              <h3 class="title-1 mb-2">0110-5586</h3>
              <p class="mb-0">THOR</p>
              <p class="text-muted">HLMT SEC SHEAR BK/AC XS</p>
              <h3 class="title-1 mb-0 mb-lg-4">Sector Helmet — Shear</h3>
            </section>
            <section class="mb-6">
              <div id="carouselExampleIndicators" class="carousel carousel-part-badge-modal slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <app-img [src]="'https://asset.lemansplatform.com/media/edge/8/3/A/83A91A0B-20D4-4E36-86D6-9EE1523C85A8.png?x=400&y=400&b=&t=image/jpeg'" [canZoom]="true"></app-img>
                  </div>
                  <div class="carousel-item">
                      <img src="https://asset.lemansplatform.com/media/edge/8/C/9/8C9F492E-CDB1-4CD3-98EA-116D50644175.png?x=400&y=400&b=&t=image/jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://asset.lemansplatform.com/media/edge/E/F/7/EF71D589-59DC-48BD-A2C8-4A76167B165F.png?x=400&y=400&b=&t=image/jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active mr-4 p-1">
                    <img
                    src="https://asset.lemansplatform.com/media/edge/8/3/A/83A91A0B-20D4-4E36-86D6-9EE1523C85A8.png?x=85&y=85&b=&t=image/jpeg"
                    class="d-block p-2" alt="...">
                  </li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" class="mr-4 p-1">
                    <img
                    src="https://asset.lemansplatform.com/media/edge/8/C/9/8C9F492E-CDB1-4CD3-98EA-116D50644175.png?x=85&y=85&b=&t=image/jpeg"
                    class="d-block p-2" alt="...">
                  </li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2" class="mr-4 p-1">
                    <img
                    src="https://asset.lemansplatform.com/media/edge/E/F/7/EF71D589-59DC-48BD-A2C8-4A76167B165F.png?x=85&y=85&b=&t=image/jpeg"
                    class="d-block p-2" alt="...">
                  </li>
                </ol>
                <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a> -->
              </div>
            </section>
            <section class="mb-4">
              <h5>Features</h5>
              <ul class="pl-3">
                <li>Dual density EPS liner features extensive venting</li>
                <li>Injection molded polycarbonate/ABS shell</li>
                <li>Fully adjustable visor</li>
                <li>Removable/washable moisture wicking liner</li>
                <li>Flexible rubber nose piece</li>
                <li>Hi-flow mouth vent with filter</li>
                <li>Rear shell shape easily repositions the goggle strap</li>
                <li>DOT and ECE 22.05 approved</li>
              </ul>
            </section>
            <section class="mb-4">
              <h5>Specs</h5>
              <ul class="pl-3">
                <li><strong>Product Name</strong>: Helmet</li>
                <li><strong>Type</strong>: Full Face</li>
                <li><strong>Model</strong>: Sector</li>
                <li><strong>Graphic</strong>: Shear</li>
                <li><strong>Size Group</strong>: Unisex</li>
                <li><strong>Shell Material</strong>: ABS, Polycarbonate</li>
                <li><strong>Units</strong>: Each</li>
                <li><strong>Riding Style</strong>: ATV, Offroad, UTV</li>
              </ul>
            </section>
            <section class="mb-4">
              <h5>Catalog</h5>
              <ul class="pl-3">
                <li>2018 Street / <a href="#">Page 59</a>, <a href="#">Page 60</a></li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="mb-4">
              <h3 class="title-1 mb-2">0110-5586</h3>
              <p>THOR</p>
              <p class="text-muted">HLMT SEC SHEAR BK/AC XS</p>
              <h3 class="title-1">Sector Helmet — Shear</h3>
              <div class="row">
                <div class="col-6">
                  <small class="text-muted">Dealer Price</small>
                  <p class="mb-1">$109.95</p>
                </div>
                <div class="col-6">
                  <small class="text-muted">Original Price</small>
                  <p class="mb-1">$109.95</p>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 text-primary">
                  <small>Your Price</small>
                  <h4 class="text-nowrap">$109.95</h4>
                </div>
                <div class="col-6">
                  <small class="text-muted">MSRP Price</small>
                  <p>$130.00</p>
                </div>
              </div>
            </section>
            <section class="mb-4">
              <h6 class="mb-2">Availability</h6>
              <table class="table table-sm table-bordered text-center mb-4">
                <thead>
                  <tr>
                    <th scope="col">WI</th>
                    <th scope="col">NY</th>
                    <th scope="col">NC</th>
                    <th scope="col">TX</th>
                    <th scope="col">NV</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>9+</td>
                    <td>3</td>
                    <td>n/a</td>
                    <td>7</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </section>
            <section class="mb-4">
              <h6 class="mb-2">Purchase History</h6>
              <div class="row">
                <div class="col-sm-4 pr-1">
                  <table class="table table-sm table-bordered text-center mb-2">
                    <thead>
                      <tr>
                        <th scope="col">LY</th>
                        <th scope="col">TY</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>9+</td>
                        <td>3</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-4 pl-0 pr-1">
                  <table class="table table-sm table-bordered text-center mb-2">
                    <thead>
                      <tr>
                        <th scope="col">PY90</th>
                        <th scope="col">30D</th>
                        <th scope="col">30D</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>7</td>
                        <td>3</td>
                        <td>3</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="collapse mt-2" id="collapseExample">
                <div class="row">
                  <div class="col pr-0">
                    <h6 class="text-muted mb-2">This Year</h6>
                    <table class="table table-sm table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Month</th>
                          <th scope="col" class="text-center">#</th>
                          <th scope="col" class="text-center">$</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let month of data.months">
                          <td>{{month}}-19</td>
                          <td class="text-center">0</td>
                          <td class="text-right">$0.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col">
                    <h6 class="text-muted mb-2">Last Year</h6>
                    <table class="table table-sm table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Month</th>
                          <th scope="col" class="text-center">#</th>
                          <th scope="col" class="text-center">$</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let month of data.months">
                          <td>{{month}}-19</td>
                          <td class="text-center">0</td>
                          <td class="text-right">$0.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <p>
                <a class="toggle-purchase-history collapsed" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <span class="show-purchase-history"><small><u>Show purchase history details [+]</u></small></span>
                <span class="hide-purchase-history"><small><u>Hide purchase history details [-]</u></small></span>
              </a>
            </p>
          </section>
          <section class="mb-4">
            <h6>More Parts Like This</h6>
            <div class="row mb-2">
              <div class="col-2 mr-2">
                <a href="#"><img src="https://asset.lemansplatform.com/media/edge/2/D/D/2DD0AB8C-EB0F-49A4-979F-3FD215B00E25.png?x=65&y=65&b=&t=image/jpeg" class="img-fluid">
                  <br><small>1 part</small></a>
                </div>
                <div class="col-2 mr-2">
                  <img src="https://asset.lemansplatform.com/media/edge/9/3/2/9323A0F1-12E5-4387-8ACF-2CBD905D8A71.png?x=65&y=65&b=&t=image/jpeg" class="img-fluid">
                  <a href="#"><br><small>7 parts</small></a>
                </div>
                <div class="col-2 mr-2">
                  <a href="#"><img src="https://asset.lemansplatform.com/media/edge/2/C/6/2C620E6D-5B81-48C5-A41E-F2642924C409.png?x=65&y=65&b=&t=image/jpeg" class="img-fluid">
                    <br><small>2 parts</small></a>
                  </div>
                </div>
                <p>
                  <a href="#"><small><u>View all parts like this</u></small></a><br>
                  <a href="#"><small><u>View all parts from Thor</u></small></a>
                </p>
              </section>
            </div>
          </div>
          <section class="border-top">
            <h3 class="mt-4">Fitments</h3>
            <table class="table border-bottom">
              <thead>
                <tr>
                  <th scope="col">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm" placeholder="Search by Year" aria-label="Search by Year"
                      aria-describedby="button-addon2">
                      <div class="input-group-append ml-0">
                        <button class="btn btn-light btn-sm" type="button" id="button-addon2"><span class="icon-chevron-down"></span></button>
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm" placeholder="Search by Make" aria-label="Search by Make"
                      aria-describedby="button-addon2">
                      <div class="input-group-append ml-0">
                        <button class="btn btn-light btn-sm" type="button" id="button-addon2" disabled><span class="icon-chevron-down"></span></button>
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm" placeholder="Search by Model" aria-label="Search by Model"
                      aria-describedby="button-addon2">
                      <div class="input-group-append ml-0">
                        <button class="btn btn-light btn-sm" type="button" id="button-addon2" disabled><span class="icon-chevron-down"></span></button>
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm" placeholder="Search by Part Number" aria-label="Search by Part Number"
                      aria-describedby="button-addon2">
                      <div class="input-group-append ml-0">
                        <button class="btn btn-light btn-sm" type="button" id="button-addon2" disabled><span class="icon-chevron-down"></span></button>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fitment of data.fitments, let i = index;">
                  <td>{{fitment.year}}</td>
                  <td>{{fitment.make}}</td>
                  <td>{{fitment.model}}</td>
                  <td>
                    {{fitment.partNumber}}
                    <div class="row bg-lighter mt-1 mb-2">
                      <div class="col">
                        <ul class="list-unstyled py-1 m-0">
                          <li><strong>Front:</strong> 1979-1983</li>
                          <li><strong>Back:</strong> 1979-1983</li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="list-unstyled py-1 m-0">
                          <li><strong>Early:</strong> 1979-1983</li>
                          <li><strong>Late:</strong> 1979-1983</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <strong>Notes:</strong> 
                        1979-1983 <i class="icon-information text-info" data-toggle="popover" data-placement="top" data-content="Tooltip for fitment footnote would go here on interaction with the 'i'" (mouseenter)="togglePopover($event, 'show')" (mouseleave)="togglePopover($event, 'hide')"></i>, 
                        1979-1983 <i class="icon-information text-info" data-toggle="popover" data-placement="top" data-content="Tooltip for fitment footnote would go here on interaction with the 'i'" (mouseenter)="togglePopover($event, 'show')" (mouseleave)="togglePopover($event, 'hide')"></i>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>